extends layoutVis
block content
    .container(style="padding-top:50px;padding-left:200px;")
        h3(style='padding-left:0px;') Hi Admin User . Welcome to the WeightWatchers Coaching Pilot
        p Please login to access pilot admin information.
        legend
        p(style='padding-bottom:10px;')
        .row
            .col-lg-4.well
                h2(style="text-align:center;") Admin Login
                legend
                form.form-horizontal.ng-pristine(role='form',action='/admin' method='POST')
                    fieldset
                        // Text input
                        .form-group(style="margin-top:5px;" )
                            label.col-md-4.control-label(for='username') Username
                            .col-md-4
                                input#textinput.form-control(style="width:160px;" type='text', name='username' placeholder='username')
                        .form-group(style="margin-top:15px;")
                            label.col-md-4.control-label(for='password') Password
                            .col-md-4
                                input#textinput.form-control.input-md(style="width:160px;" type='password', name='password' placeholder='password')
                                br
                        .form-group(style="margin-top:15px;")
                            .col-md-4
                                button#singlebutton.btn.btn-primary(type='submit', style="margin-left:110px;") Login
