extends layout

block content
    .jumbotron
        .container(ng-controller='CoachController')
            h3(style='padding-bottom:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard.
            p  Click on the links below to see your coachees' information, select your available schedule or......
    .container
        .row
            ul.nav.nav-tabs(style='font-size:20px;')
                li.active(style='margin-left:50px;')
                    a(id="aUsers" href='#users', data-toggle='tab'  ) Users
                li(style='margin-left:50px;')
                    a(href='#aCoaches', data-toggle='tab') Coaches
                li(style='margin-left:50px;')
                    a(href='#aSchedules', data-toggle='tab') Schedules

            // Tab panes
            .tab-content
                #users.tab-pane.active(ng-controller='AllUsersController')
                    .container
                        p this is the users section
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                            li(ng-repeat="user in users")
                                ul.navlist
                                    li
                                        a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                                    li
                                        {{user.Email}}
                                    li
                                        {{user.Phone}}
                #aCoaches.tab-pane
                    .container
                        p this is the Coaches tab
                #aSchedules.tab-pane(ng-controller='AllCoachesController')
                    .container
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                            li(ng-repeat="coach in coaches")

                    #availability.tab-pane
                        .container

        hr
        footer
            p © Company 2014
// /container
