extends layoutAdmin

block content

    .container
        h3(style='padding-bottom:0px;') Hi Admin! Welcome to the Admin Dashboard.
        p  Here you can manage coaches, users and schedules

    .container
        legend
        .row
            ul.nav.nav-tabs(style='font-size:20px;')
                li.active(style='margin-left:50px;')
                    a(id="aUsers" href='#users', data-toggle='tab'  ) Users
                li(style='margin-left:50px;')
                    a(href='#aCoaches', data-toggle='tab') Coaches
                li(style='margin-left:50px;')
                    a(href='#aSchedules', data-toggle='tab') Schedules
                li(style='margin-left:50px;')
                    a(href='#aEmail', data-toggle='tab') Emailing
        .col-sm-9
            // Tab panes
            .tab-content(ng-controller='AdminController' data-ng-init='initApp()')

                #users.tab-pane.active.col-sm-9.col-md-10.main

                    .ng-scope(style='width:800px;')
                        form.form-horizontal.well.ng-pristine
                            fieldset
                                // Form Name
                                legend Add New User
                                // Text input
                                .form-group(style="margin-bottom:5px;")
                                    label.col-md-4.control-label(for='firstname') First Name
                                    .col-md-4
                                        input#textinput.form-control.input-md(type='text', name='firstname', ng-model='newuser.FirstName')
                                .form-group(style="margin-bottom:5px;")
                                    label.col-md-4.control-label(for='lastname') Last Name
                                    .col-md-4
                                        input#textinput.form-control.input-md(type='text', name='lastname', ng-model='newuser.LastName')
                                .form-group(style="margin-bottom:5px;")
                                    label.col-md-4.control-label(for='email') Email
                                    .col-md-4
                                        input#textinput.form-control.input-md(type='text', name='email', ng-model='newuser.Email')
                                .form-group(style="margin-bottom:5px;")
                                    label.col-md-4.control-label(for='phone') Phone
                                    .col-md-4
                                        input#textinput.form-control.input-md(type='text', name='phone', ng-model='newuser.Phone')
                                .form-group(style="margin-bottom:5px;")
                                    label.col-md-4.control-label(for='coach') Coach
                                    .col-md-4
                                        select.form-control.input-md(ng-model='newuser.CoachId' name="coach")
                                            option(ng-repeat='coach in coaches' value="{{coach._id}}") {{coach.FirstName}} {{coach.LastName}}

                               .form-group
                                    label.col-md-4.control-label(for='save')
                                    .col-md-4
                                        button#singlebutton.btn.btn-primary( name='save' value='Save', ng-click='saveuser()') Save
                        legend
                        legend All Users
                        label.col-md-2.control-label Search users
                        .col-md-2
                            input(type='text' ng-model="query.FirstName")
                        legend
                        table.table.table-striped.table-bordered
                            thead
                                tr
                                    th Name
                                    th Email
                                    th Phone
                                    th Coach
                                    th Action
                            tbody
                                tr.ng-scope(ng-repeat='user in users | filter:query')
                                    td.ng-binding {{ user.FirstName}} {{ user.LastName }}
                                    td.ng-binding {{ user.Email }}
                                    td.ng-binding {{ user.Phone }}
                                    td.ng-binding {{ user.CoachName }}
                                    td
                                        a(href='#', ng-click='editUser(user._id)') edit
                                            | /
                                        a(href='#', ng-click='deleteUser(user._id)') delete
                #aCoaches.tab-pane.active.col-sm-9.col-md-10.main
                        .ng-scope(style='width:900px;')
                            form.form-horizontal.well.ng-pristine
                                fieldset
                                    // Form Name
                                    legend Add New Coach
                                    // Text input
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='firstname') First Name
                                        .col-md-4
                                            input#textinput.form-control.input-md(type='text', name='firstname', ng-model='newcoach.FirstName')
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='lastname') Last Name
                                        .col-md-4
                                            input#textinput.form-control.input-md(type='text', name='lastname', ng-model='newcoach.LastName')
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='email') Email
                                        .col-md-4
                                            input#textinput.form-control.input-md(type='text', name='email', ng-model='newcoach.Email')
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='phone') Phone
                                        .col-md-4
                                            input#textinput.form-control.input-md(type='text', name='phone', ng-model='newcoach.Phone')
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='username') Username
                                        .col-md-4
                                            input#textinput.form-control.input-md(type='text', name='username', ng-model='newcoach.Username')
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='password') Password
                                        .col-md-4
                                            input#textinput.form-control.input-md(type='text', name='password', ng-model='newcoach.Password')
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='bio') Bio
                                        .col-md-4
                                            textarea#textarea.form-control(rows='4' cols='50' name='bio', ng-model='newcoach.Bio') Bio
                                    .form-group(style="margin-bottom:5px;")
                                        label.col-md-4.control-label(for='save')
                                        .col-md-4
                                            button#singlebutton.btn.btn-primary( name='save' value='Save', ng-click='savecoach()') Save

                            legend
                            legend All Coaches
                            table.table.table-striped.table-bordered
                                thead
                                    tr
                                        th Name
                                        th Phone
                                        th Email
                                        th Username
                                        th Bio
                                        th First Name
                                        th Action

                                tbody
                                    tr.ng-scope(ng-repeat="coach in coaches | orderBy:'Email'")
                                        td.ng-binding {{ coach.FirstName}} {{ coach.LastName }}
                                        td.ng-binding {{ coach.Phone }}
                                        td.ng-binding {{ coach.Email }}
                                        td.ng-binding {{ coach.Username }}
                                        td.ng-binding {{ coach.Bio }}
                                        td.ng-binding {{ coach.FirstName}}
                                        td
                                            a(href='#', ng-click='editCoach(coach._id)') edit
                                                | /
                                            a(href='#', ng-click='deleteCoach(coach._id)') delete
                #aSchedules.tab-pane.col-sm-9.col-md-10.main
                    .container
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                            li(ng-repeat="coach in coaches")

                #aEmail.tab-pane.active.col-sm-9.col-md-10.main
                    .ng-scope(style='width:900px;')
                    form.form-horizontal.ng-pristine(role='form',action='/email' method='POST')
                        fieldset
                            // Text input
                            .form-group(style="margin-top:5px;" )
                                label.col-md-4.control-label(for='name') Name
                                .col-md-4
                                    input#textinput.form-control(style="width:160px;" type='text', name='name' )
                            .form-group(style="margin-top:15px;")
                                label.col-md-4.control-label(for='email') email
                                .col-md-4
                                    input#textinput.form-control.input-md(style="width:160px;" type='text', name='email')
                                    br
                            .form-group(style="margin-top:15px;")
                                label.col-md-4.control-label(for='message') message
                                .col-md-4
                                    textarea#message.form-control.input-md(style="width:160px;" type='text', name='message')
                                    br
                            .form-group(style="margin-top:15px;")
                                .col-md-4
                                    button#singlebutton.btn.btn-primary(type='submit', style="margin-left:110px;") Send
                            span(style="color:red;margin-left:40px;") #{message}


        hr
    footer
        p © Company 2014
// /container
