extends layout

block content
    
    .jumbotron
        .container(ng-controller='CoachController')
             h3(style='padding-bottom:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard. 
             p  Click on the links below to see your coachees' information, select your available schedule or......
    
    .container(ng-controller='UsersController')
       
        .row
            ul.nav.nav-tabs(style='font-size:20px;')
                
                li.active(style='margin-left:50px;')
                    a(id="aMyUsers" href='#users', data-toggle='tab'  ) Users 
                        
                li(style='margin-left:50px;')
                    a(href='#scheduler', data-toggle='tab') Resources
                        
                
                        
                
            // Tab panes
            .tab-content
                #users.tab-pane.active
                    .container
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                          li(ng-repeat="user in users")  
                            ul.navlist
                                li 
                                    a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }} 
                                li 
                                    {{user.Email}}
                                li 
                                    {{user.Phone}}
                            
                        
                #scheduler.tab-pane 
                    .container
                        p this is the Resources tab
               
                    
        
        hr
        footer
            p © Company 2014
// /container
