extends layout

block content

    .container(ng-controller='CoachController' style="padding-top:50px;padding-left:200px;")
        h3(style='padding-left:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard.
        p  Click on the links below to see your coachees' information, select your available schedule or......
        legend
        p(style='padding-bottom:10px;')
        .row
            ul.nav.nav-pills(style='font-size:20px;margin-left:10px;')
                li.active
                    a(id="aMyUsers" href='#users', data-toggle='tab' ) Users
                li(style='margin-left:80px;')
                    a(href='#resources', data-toggle='tab') Resources
                li(style='margin-left:80px;')
                    a(href='#availability', data-toggle='tab') Availability
                        
            legend
            // Tab panes
            .tab-content
                #users.tab-pane.active(ng-controller='UsersController')
                    .container
                        table
                            thead.t-head
                                tr
                                    th NAME
                                    th EMAIL
                                    th PHONE
                                    th OTHER
                                    th OTHER
                            tbody
                                tr.ng-scope(ng-repeat='user in users')
                                    td
                                        a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                                    td
                                        {{user.Email}}
                                    td
                                        {{user.Phone}}
                                    td xxxxxxxxxx
                                    td xxxxxxxxxx

                        //ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                        //  li(ng-repeat="user in users")
                        //    ul.navlist
                        //        li
                        //            a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                        //        li
                        //            {{user.Email}}
                        //        li
                        //            {{user.Phone}}
                            
                        
                #resources.tab-pane 
                    .container
                        p this is the Resources tab
               

                #availability.tab-pane.col-sm-10.col-md-10.main
                    .ng-scope(ng-controller='SchController_test' data-ng-init='initApp()')
                        .container
                            .row.well.col-md-12
                                .col-md-7
                                    .ng-pristine
                                         p Please choose your availability for coaching call by checking the date/time slots.
                                            | As users schedule calls with you, it'll appear on this calendar

                                        legend
                                            p
                                        p

                                            a(style="display:inline-block;border:thin;padding:4px;" href ng-click="updateWeek('prev')")
                                             b <
                                            | {{WeekRange}}
                                            a(style="display:inline-block;border:thin;padding:4px;" href ng-click="updateWeek('next')")
                                             b >
                                        table#availSchedules(border='1px;')
                                            tr
                                                td(ng-repeat="availDate in calendarArray.Dates" ng-init="outerIndex = $index" style="background-color:#fff;")
                                                    table
                                                        tr(ng-repeat="availTime in availDate.Times" ng-init="innerIndex = $index")
                                                            td
                                                                div(ng-if= "outerIndex==0 && innerIndex==0" style="padding:0.5em;background:#333;color:#fff; height:50px;50px;padding-top:15px;") Time

                                                                div#rowHead(ng-if= "outerIndex>0 && innerIndex==0" style="padding:0.5em;background:#333;color:#fff; width:90px; height:50px;padding-top:15px;")
                                                                    p {{availDate.DateDisp}}
                                                                div#colHead(ng-if= "outerIndex==0 && innerIndex>0" style="text-align:center;vertical-align:middle;padding-left:10px;padding-right:10px;padding-bottom:4px; background:#ddd;width:80px;height:20px;border-bottom:ridge")
                                                                    p {{availTime.time}}
                                                                div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==0" style="padding:4px;height:20px;")
                                                                    input#calCellEmpty(type="checkbox"  style="margin:0" ng-click="updateSelection($event,availTime.timeUTC)")
                                                                div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==1" style="padding:4px;height:20px;")
                                                                    input#calCellEmpty(type="checkbox" style="margin:0" checked ng-click="updateSelection($event,availTime.timeUTC)")
                                                                div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==2" style="padding:4px;height:20px;") Appt with {{availTime.Appt.FirstName}}
                                                td Button here for next 10days



                                    p
                                    input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                                    p(style="color:green") {{ConfirmMessage}}
                                    input(type='button', id="fakeSave" , ng-click='' style="display:none;")
                                    p Button here for next 10days







        hr
        footer
            p © Company 2014
// /container
