extends layout

block content

    .container(ng-controller='coachDashBoardController' data-ng-init='initApp()' style="padding-top:20px;padding-left:20px;")
        h3(style='padding-left:0px;')
            p Hi {{FirstName}}! Welcome to your dashboard.
        p(style='padding-bottom:5px;')
        .row(ng-controller='coachDashBoardController' )
            ul.nav.nav-pills(style='font-size:20px;margin-left:10px;')
                li.active
                    a(id="aMyUsers" href='#users', data-toggle='tab' ) Dashboard

                li(style='margin-left:80px;')
                    a(href='#availability', data-toggle='tab') My schedule

            legend
            // Tab panes
            .tab-content
                #users.tab-pane.active
                    .container
                        legend
                            p Upcoming sessions
                        table(ng-if="upcomingAppts.length>0")
                            thead.t-head
                                tr
                                    th NAME
                                    th EMAIL
                                    th PHONE
                                    th Date/Time

                            tbody
                                tr.ng-scope(ng-repeat="appt in upcomingAppts | orderBy:'-DateUTC'" )
                                    td
                                        a(href='/getuser/{{appt.User._id}}') {{ appt.User.FirstName }} {{ appt.User.LastName }}
                                    td
                                        p {{appt.User.Email}}
                                    td
                                        p {{appt.User.Phone}}
                                    td
                                        p {{appt.DateUTC | date:'MMM-d'}} at {{appt.Time}}

                        br
                        legend
                        legend
                            p Past sessions
                        table(ng-if="pastAppts.length>0")
                            thead.t-head
                                tr
                                    th NAME
                                    th EMAIL
                                    th PHONE
                                    th Date/Time

                            tbody
                                tr.ng-scope(ng-repeat="appt in pastAppts | orderBy:'-DateUTC'" )
                                    td
                                        a(href='/getuser/past/{{appt.User._id}}') {{ appt.User.FirstName }} {{ appt.User.LastName }}
                                    td
                                        p {{appt.User.Email}}
                                    td
                                        p {{appt.User.Phone}}
                                    td
                                        p {{appt.DateUTC | date:'MMM-d'}} at {{appt.Time}}

                        //ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                        //  li(ng-repeat="user in users")
                        //    ul.navlist
                        //        li
                        //            a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                        //        li
                        //            {{user.Email}}
                        //        li
                        //            {{user.Phone}}




                #availability.tab-pane.col-sm-12.col-md-12.main
                    .ng-scope
                        .container
                            .row
                                .col-md-12
                                         p Please choose your availability for coaching calls by checking the date/time slots.
                                            | As users schedule calls with you, it'll appear on this calendar

                                        legend

                                            p

                                            span(style="margin-left:100px;")

                                                | Week of
                                            a(style="display:inline-block;border:thin;padding:4px;" href="" ng-click="updateWeek('prev')")
                                             b <
                                            b  {{WeekRange}}
                                            a(style="display:inline-block;border:thin;padding:4px;" href="" ng-click="updateWeek('next')")
                                             b >
                                            input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary(style="margin-left:200px;")
                                        table#availSchedules(border='1px;')
                                            tr
                                                td(ng-repeat="availDate in calendarArray.Dates" ng-init="outerIndex = $index" style="background-color:#fff;")
                                                    table
                                                        tr(ng-repeat="availTime in availDate.Times" ng-init="innerIndex = $index")
                                                            td
                                                                div#calCornerTop(ng-if= "outerIndex==0 && innerIndex==0" ) Time

                                                                div#calRowHead(ng-if= "outerIndex>0 && innerIndex==0" )
                                                                    p {{availDate.DateDisp}}
                                                                div#calColHead(ng-if= "outerIndex==0 && innerIndex>0")
                                                                    p {{availTime.time}}
                                                                div#calCellChkOpen(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==0" )
                                                                    input(id="chk{{availTime.timeUTC}}"  type="checkbox"   ng-click="updateSelection($event,availTime.timeUTC)")
                                                                    label(for="chk{{availTime.timeUTC}}")
                                                                div#calCellChkAvail(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==1" )
                                                                    input(id="chk{{availTime.timeUTC}}"  type="checkbox"  checked ng-click="updateSelection($event,availTime.timeUTC)")
                                                                    label(for="chk{{availTime.timeUTC}}")
                                                                div#calCell(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==2" ) {{availTime.Appt.FirstName}}

                                        legend

                                        br

                                        input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary(style="margin-left:650px;")
                                        p(style="color:green;margin-left:400px;") {{ConfirmMessage}}
                                    input(type='button', id="fakeSave" , ng-click='' style="display:none;")
                //#availability.tab-pane.col-sm-12.col-md-12.main
                //    .ng-scope
                //        .container
                //            .row
                //                .col-md-12
                //                    p Please choose your availability for coaching call by checking the date/time slots.
                //                        | As users schedule calls with you, it'll appear on this calendar
                //
                //                    legend
                //                        p
                //                    p(style="margin-left:200px;margin-bottom:10px;")
                //                        |  Week of
                //                        a(style="display:inline-block;border:thin;padding:4px;" href="" ng-click="updateWeek('prev')")
                //                            b <
                //                        b  {{WeekRange}}
                //                        a(style="display:inline-block;border:thin;padding:4px;" href="" ng-click="updateWeek('next')")
                //                            b >
                //
                //                    ul#ulDates
                //                        li(ng-repeat="availDate in calendarArray.Dates" ng-init="outerIndex = $index")
                //                            ul
                //                                li(ng-repeat="availTime in availDate.Times" ng-init="innerIndex = $index" )
                //                                    div(ng-if= "outerIndex==0 && innerIndex==0" style="padding:0.5em;background:#333;color:#fff; height:50px;padding-top:15px;") Time
                //                                    div(ng-if= "outerIndex>0 && innerIndex==0" style="padding:0.5em;background:#333;color:#fff; width:90px; height:50px;padding-top:15px;")
                //                                        span {{availDate.DateDisp}}
                //                                    div#colHead(ng-if= "outerIndex==0 && innerIndex>0" style="text-align:center;vertical-align:middle;padding-left:10px;padding-right:10px;padding-bottom:4px; background:#ddd;width:80px;height:20px;border-bottom:ridge")
                //                                        span {{availTime.time}}
                //                                    div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==0" style="height:20px;")
                //                                        input(id="chk{{availTime.timeUTC}}" style="margin-top:0px;" type="checkbox"   ng-click="updateSelection($event,availTime.timeUTC)")
                //                                        label(for="chk{{availTime.timeUTC}}")
                //                                    //div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==1" style="height:20px;")
                //                                    //    input(id="chk{{availTime.timeUTC}}" style="margin-top:0px;" type="checkbox"  checked ng-click="updateSelection($event,availTime.timeUTC)")
                //                                    //    label(for="chk{{availTime.timeUTC}}")
                //                                    //div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==2" style="padding:4px;height:20px;") Appt:{{availTime.Appt.FirstName}}
                //
                //                    legend
                //
                //
                //
                //                    input(type='button', style="float: right;" id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                //                    p(style="color:green") {{ConfirmMessage}}
                //                    input(type='button', id="fakeSave" , ng-click='' style="display:none;")
                //
                //
                //
                //
                //
                //


// /container
