extends layout

block content
    
    .jumbotron
        .container(ng-controller='CoachController')
             h3(style='padding-bottom:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard. 
             p  Click on the links below to see your coachees' information, select your available schedule or......
    
    .container
       
        .row
            ul.nav.nav-tabs(style='font-size:20px;')
                
                li.active(style='margin-left:50px;')
                    a(id="aMyUsers" href='#users', data-toggle='tab'  ) Users 
                        
                li(style='margin-left:50px;')
                    a(href='#resources', data-toggle='tab') Resources
                
                li(style='margin-left:50px;')
                    a(href='#scheduler', data-toggle='tab') Schedules
                li(style='margin-left:50px;')
                    a(href='#availability', data-toggle='tab') Availability
                        
                
            // Tab panes
            .tab-content
                #users.tab-pane.active(ng-controller='UsersController')
                    .container
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                          li(ng-repeat="user in users")  
                            ul.navlist
                                li 
                                    a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }} 
                                li 
                                    {{user.Email}}
                                li 
                                    {{user.Phone}}
                            
                        
                #resources.tab-pane 
                    .container
                        p this is the Resources tab
               
                #scheduler.tab-pane(ng-controller='CoachAvailController')
                    .container
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                            li(ng-repeat="timeslot in timeslots")  
                                {{timeslot.Day}},{{timeslot.Date}} {{timeslot.time}}
                
                 #availability.tab-pane 
                    .container
                        table
                            th
                                tr
                                    td(width="400") 
                                        h4 Pick your availability
                                    td(width="150") 
                                        h4 Dates Selected
                            tbody
                                tr
                                    td
                                        input#datetimepicker(type='text') 
                                    td(style="position:fixed;")
                                        div#selectedDate 
                        
                            

        
        hr
        footer
            p © Company 2014
// /container
