<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coach View</title>
    <script src="../js/jquery.js"></script>
    <script src="../js/querystring-0.9.0.js"></script>
    <script src="../bootstrap-3.1.1-dist/js/Dashboard.js"></script>
    <script src="../js/jquery.loadTemplate-1.4.3.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.tmpl.min.js"></script>
    <script src="../js/jquery-ui-1.10.3.custom.js"></script>
    <link href="../css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="../css/Assessment.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        /*  Define the background color for all the EVEN background rows  */
        #tblUsers tr:nth-child(odd) {
            background: #dae5f4;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {

            //get coachid from querystring
            var coachid = $.QueryString("coachid");

            GetCoachDetails(coachid);
            //Get Users
            GetUsers(coachid, function () {
                $("#usersTab").tmpl(coachUsers).appendTo("#tblUsers");
            });
            

        });

    </script>
</head>
<body>
    <div class="aq-ww-banner">
        <h1><img src="../img/ww_logo_white_sm.png" alt="Weight Watchers"></h1>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#users" data-toggle="tab">My Users</a></li>
            <li><a href="#schedule" data-toggle="tab">Upcoming Appointments</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">This is the Home tab</div>
            <div class="tab-pane fade" id="users">
                <header class="tab-intro">
                    <span class="sub-header">
                        Below is the list of users assigned to you for the coaching pilot. Click on the names to view detailed information about the user
                    </span>
                </header>
                <table>
                    <tr>
                        <td class="style1">
                            <table id="tblUsers" border="1px" width="600" class="tbl-no-outside-border">
                                <tr><td width="250px" class="tblHeader">Name</td><td width="150px" class="tblHeader" >Phone Number</td><td width="200px" class="tblHeader">Email</td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="schedule"></div>
            <div class="tab-pane fade" id="settings">this is the Settings tab</div>
        </div>
    </div>

    <script id="homeTab" type="text/html">
        <header class="aq-intro">
            <h3 class="wwdisplay-bold initCap" id="coachWlcm">Hello <span data-content="FirstName"></span></h3>
            
            <header class="tab-intro">
                <span class="sub-header">
                    Welocme to the Weight Watchers Coaching pilot.You can navigate through the tabs to view the list about users assigned to you, link to deatils about individual users and see upcoming appointments.
                </span>
            </header>

            
        </header>
        <div>
            <p>If you have any questions about any aspect of the coaching pilot, please contact <span id="ccName" class="initCap" style="font-weight:bold" data-content="CoachesCoach"></span> <b>via email : </b><a id="ccEmail" ><span data-content="CoachesCoachEmail"></span></a></p>
            
        </div>
    </script>

    <script id="usersTab" type="text/html">
        <tr >
            <td class="initCap userDetailRow">
                <a id="userlink" href="/Users/userdetails.html?userid=${_id}">${FirstName} ${LastName}</a>
            </td>
            <td class="userDetailRow">${Phone}</td>
            <td class="userDetailRow">${Email}</td>            
        </tr>
    </script>

    <script id="scheduleTab" type="text/html">

    </script>

    <script id="settingsTab" type="text/html">

    </script>
</body>
</html>
