extends layout

block content

    .container(ng-controller='CoachController' style="padding-top:50px;padding-left:200px;")
        h3(style='padding-left:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard.
        p  Click on the links below to see your coachees' information, select your available schedule or......
        legend
        p(style='padding-bottom:10px;')
        .row
            ul.nav.nav-pills(style='font-size:20px;margin-left:10px;')
                li.active
                    a(id="aMyUsers" href='#users', data-toggle='tab' ) Users
                li(style='margin-left:80px;')
                    a(href='#resources', data-toggle='tab') Resources
                li(style='margin-left:80px;')
                    a(href='#availability', data-toggle='tab') Availability
                li(style='margin-left:80px;')
                    a(href='#availability1', data-toggle='tab') Availability Test
                        
            legend
            // Tab panes
            .tab-content
                #users.tab-pane.active(ng-controller='UsersController')
                    .container
                        table
                            thead.t-head
                                tr
                                    th NAME
                                    th EMAIL
                                    th PHONE
                                    th OTHER
                                    th OTHER
                            tbody
                                tr.ng-scope(ng-repeat='user in users')
                                    td
                                        a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                                    td
                                        {{user.Email}}
                                    td
                                        {{user.Phone}}
                                    td xxxxxxxxxx
                                    td xxxxxxxxxx

                        //ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                        //  li(ng-repeat="user in users")
                        //    ul.navlist
                        //        li
                        //            a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                        //        li
                        //            {{user.Email}}
                        //        li
                        //            {{user.Phone}}
                            
                        
                #resources.tab-pane 
                    .container
                        p this is the Resources tab
               
                #availability.tab-pane.col-sm-10.col-md-10.main
                    .ng-scope(ng-controller='SchController' data-ng-init='initApp()')
                        .container
                            .row.well.col-md-12
                                .col-lg-4(style="border-right:ridge;")
                                    form.ng-pristine
                                        fieldset
                                            // Form Name
                                            legend Add available times
                                            p Choose the dates and times that you're available for your caoching calls
                                                | Once you've made your selections, your choices will display on right. Please
                                                | review them and hit save
                                            // Text input
                                            .form-group
                                                .col-md-12
                                                    input#datetimepicker.form-control.input-md(type='text', name='datetime', ng-model='newDate' )
                                .col-md-7
                                    .ng-pristine


                                            //
                                            //ul#dates(style="list-style-type: none;padding-left:10px;")
                                            //    li(ng-repeat="availDate in coachAvailDates | orderBy:'Date' ")
                                            //        b {{availDate.Date}} {{availDate.Time}}
                                                        //ul#times(style="list-style-type: none;padding-left:55px;padding-bottom:5px;")
                                                        //    li(ng-repeat="availTime in availDate.Time | orderBy:'time'") {{availTime.time}}
                                                                a(href='#' style='padding-left: 30px;' data-date='{{availDate.Date}}' data-time='{{availTime.time}}') X
                                            //input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                                            //p(style="color:green") {{ConfirmMessage}}
                                            //input(type='button', id="fakeSave" , ng-click='' style="display:none;")

                                        table(border='1px;')
                                            tr#dates
                                                td(style="vertical-align:initial;").ng-scope(ng-repeat="availDate in dispAvailDates | orderBy:'Date'")
                                                    table
                                                        thead
                                                            tr
                                                                th(style="vertical-align:initial;padding:4px;") {{availDate.Date }}
                                                        tbody
                                                            tr(ng-repeat="availTime in availDate.Times | orderBy:'time' ")
                                                                td(style="padding:4px;")
                                                                    div(ng-if="!availTime.User" style="display:inline;") {{availTime.time | date:'mm'}}
                                                                        a(href='#' style='padding-left: 10px;' data-date='{{availDate.Date}}' data-time='{{availTime.time}}')
                                                                            img(src="./img/delete_icon.png" style="display:inline;")
                                                                    div(ng-if="availTime.User" style="display:inline;text-decoration: line-through") {{availTime.time | date:'mm'}}


                                    p
                                    input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                                    p(style="color:green") {{ConfirmMessage}}
                                    input(type='button', id="fakeSave" , ng-click='' style="display:none;")


                #availability1.tab-pane.col-sm-10.col-md-10.main
                    .ng-scope(ng-controller='SchController_test' data-ng-init='initApp()')
                        .container
                            .row.well.col-md-12
                                .col-md-7
                                    .ng-pristine


                                        //
                                        //ul#dates(style="list-style-type: none;padding-left:10px;")
                                        //    li(ng-repeat="availDate in coachAvailDates | orderBy:'Date' ")
                                        //        b {{availDate.Date}} {{availDate.Time}}
                                                    //ul#times(style="list-style-type: none;padding-left:55px;padding-bottom:5px;")
                                                    //    li(ng-repeat="availTime in availDate.Time | orderBy:'time'") {{availTime.time}}
                                                            a(href='#' style='padding-left: 30px;' data-date='{{availDate.Date}}' data-time='{{availTime.time}}') X
                                        //input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                                        //p(style="color:green") {{ConfirmMessage}}
                                        //input(type='button', id="fakeSave" , ng-click='' style="display:none;")

                                        table#availSchedules(border='1px;')
                                            tr
                                                td(ng-repeat="availDate in calendarArray.Dates" ng-init="outerIndex = $index")
                                                    table
                                                        tr(ng-repeat="availTime in availDate.Times" ng-init="innerIndex = $index")
                                                            td
                                                                div(ng-if= "outerIndex==0 && innerIndex==0" style="padding:0.5em;background:#333;color:#fff; height:50px;") Time

                                                                div#rowHead(ng-if= "outerIndex>0 && innerIndex==0" style="padding:0.5em;background:#333;color:#fff; height:50px;vertical-align:center;")
                                                                    b {{availDate.Date}}
                                                                div#colHead(ng-if= "outerIndex==0 && innerIndex>0" style="text-align:center;padding-left:10px;padding-top:4px;padding-bottom:4px; background:#ddd;width:80px;height:20px;")
                                                                    b {{availTime.time}}
                                                                div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==0" style="padding:4px;height:20px;")
                                                                    input#calCellEmpty(type="checkbox"  style="margin:0" ng-click="updateSelection($event,availTime.timeUTC)")
                                                                div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==1" style="padding:4px;height:20px;")
                                                                    input#calCellEmpty(type="checkbox" style="margin:0" checked ng-click="updateSelection($event,availTime.timeUTC)")
                                                                div(ng-if="outerIndex>0 && innerIndex>0 && availTime.DispFlag==2" style="padding:4px;height:20px;") Taken
                                                td Button here for next 10days



                                    p
                                    input(type='button',  id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                                    p(style="color:green") {{ConfirmMessage}}
                                    input(type='button', id="fakeSave" , ng-click='' style="display:none;")
                                    p Button here for next 10days







        hr
        footer
            p © Company 2014
// /container
