extends layout

block content
    
    .jumbotron
        .container(ng-controller='CoachController')
             h3(style='padding-bottom:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard. 
             p  Click on the links below to see your coachees' information, select your available schedule or......
    
    .container
       
        .row
            ul.nav.nav-tabs(style='font-size:20px;')
                
                li.active(style='margin-left:50px;')
                    a(id="aMyUsers" href='#users', data-toggle='tab'  ) Users 
                        
                li(style='margin-left:50px;')
                    a(href='#resources', data-toggle='tab') Resources
                
                li(style='margin-left:50px;')
                    a(href='#scheduler', data-toggle='tab') Schedules
                li(style='margin-left:50px;')
                    a(href='#availability', data-toggle='tab') Availability
                        
                
            // Tab panes
            .tab-content
                #users.tab-pane.active(ng-controller='UsersController')
                    .container
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                          li(ng-repeat="user in users")  
                            ul.navlist
                                li 
                                    a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }} 
                                li 
                                    {{user.Email}}
                                li 
                                    {{user.Phone}}
                            
                        
                #resources.tab-pane 
                    .container
                        p this is the Resources tab
               
                #scheduler.tab-pane.col-sm-9.col-md-10.main
                    .ng-scope(ng-controller='CoachAvailController' data-ng-init='initApp()' style='width:800px;')
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                            li(ng-repeat="timeslot in timeslots")  
                                {{timeslot.Day}},{{timeslot.Date}} {{timeslot.time}}
                
                 #availability.tab-pane.col-sm-12.col-md-12.main
                    .ng-scope(ng-controller='CoachAvailController' data-ng-init='initApp()')
                        .container
                            .row
                                .col-md-7
                                    form.well.ng-pristine
                                        fieldset
                                            // Form Name
                                            legend Pick your availability
                                            p Choose the dates and times that you're available for your caoching calls
                                                | Once you've made your selections, your choices will display on right. Please
                                                | review them and hit save
                                            // Text input
                                            .form-group
                                                .col-md-12
                                                    input#datetimepicker.form-control.input-md(type='text', name='datetime', ng-model='newDate' )
                                .col-md-3
                                    .well(style="padding:10px;").ng-pristine
                                        fieldset(style="padding:0px;")
                                            // Form Name
                                            legend You selected
                                            ul#dates(style="list-style-type: none;padding-left:0px;padding-right:0px;")
                                .col-md-2
                                    .well(style="padding:10px;").ng-pristine
                                        fieldset
                                            // Form Name
                                            legend Previously selected
                                            ul#dates(style="list-style-type: none;padding-left:10px;")

        
        hr
        footer
            p © Company 2014
// /container
