extends layout

block content

    .container(ng-controller='CoachController' style="padding-top:50px;padding-left:200px;")
        h3(style='padding-left:0px;') Hi {{FirstName}}! Welcome to the Coaches' Dashboard.
        p  Click on the links below to see your coachees' information, select your available schedule or......
        legend
        p(style='padding-bottom:10px;')
        .row
            ul.nav.nav-pills(style='font-size:20px;margin-left:10px;')
                li.active
                    a(id="aMyUsers" href='#users', data-toggle='tab' ) Users
                li(style='margin-left:80px;')
                    a(href='#resources', data-toggle='tab') Resources
                li(style='margin-left:80px;')
                    a(href='#scheduler', data-toggle='tab') Schedules
                li(style='margin-left:80px;')
                    a(href='#availability', data-toggle='tab') Availability
                        
            legend
            // Tab panes
            .tab-content
                #users.tab-pane.active(ng-controller='UsersController')
                    .container
                        table
                            thead.t-head
                                tr
                                    th NAME
                                    th EMAIL
                                    th PHONE
                                    th OTHER
                                    th OTHER
                            tbody
                                tr.ng-scope(ng-repeat='user in users')
                                    td
                                        a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                                    td
                                        {{user.Email}}
                                    td
                                        {{user.Phone}}
                                    td xxxxxxxxxx
                                    td xxxxxxxxxx

                        //ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                        //  li(ng-repeat="user in users")
                        //    ul.navlist
                        //        li
                        //            a(href='/getuser/{{user._id}}') {{ user.FirstName }} {{ user.LastName }}
                        //        li
                        //            {{user.Email}}
                        //        li
                        //            {{user.Phone}}
                            
                        
                #resources.tab-pane 
                    .container
                        p this is the Resources tab
               
                #scheduler.tab-pane.col-sm-9.col-md-10.main
                    .ng-scope(ng-controller='CoachAvailController' data-ng-init='initApp()' style='width:800px;')
                        ul(style="list-style-type: none;padding-left:10px;margin-top:20px;")
                            li(ng-repeat="timeslot in timeslots")  
                                {{timeslot.Day}},{{timeslot.Date}} {{timeslot.time}}
                
                 #availability.tab-pane.col-sm-10.col-md-10.main
                    .ng-scope(ng-controller='CoachAvailController' data-ng-init='initApp()')
                        .container
                            .row.well.col-md-12
                                .col-lg-4(style="border-right:ridge;")
                                    form.ng-pristine
                                        fieldset
                                            // Form Name
                                            legend Add available times
                                            p Choose the dates and times that you're available for your caoching calls
                                                | Once you've made your selections, your choices will display on right. Please
                                                | review them and hit save
                                            // Text input
                                            .form-group
                                                .col-md-12
                                                    input#datetimepicker.form-control.input-md(type='text', name='datetime', ng-model='newDate' )
                                .col-md-7
                                    .ng-pristine
                                        fieldset(style="padding:0px;")
                                            // Form Name
                                            legend Your Current availability
                                            //ul#dates(style="list-style-type: none;padding-left:10px;")
                                            //    li(ng-repeat="savedDate in savedDates")
                                            //        b {{savedDate.Date}}
                                            //        ul#times(style="list-style-type: none;padding-left:55px;padding-bottom:5px;")
                                            //            legend
                                            //            li(ng-repeat="savedTime in savedDate.Times") {{savedTime.time}}
                                            //
                                            //                    a(href='#' style='padding-left: 30px;' data-date='{{savedDate.Date}}' data-time='{{savedTime.time}}') X

                                        table(border='1px;')
                                            tr#dates
                                                td(style="vertical-align:initial;").ng-scope(ng-repeat="savedDate in savedDates")
                                                    table
                                                        thead
                                                            tr
                                                                th(style="vertical-align:initial;") {{savedDate.Date}}
                                                        tbody
                                                            tr(ng-repeat="savedTime in savedDate.Times| orderBy:time")
                                                                td {{savedTime.time}}
                                                                    a(href='#' style='padding-left: 10px;' data-date='{{savedDate.Date}}' data-time='{{savedTime.time}}')
                                                                        img(src="./img/delete_icon.png")


                                        p
                                        input(type='button', id="btnSave"  value='Save', ng-click='saveSchedule()').btn.btn-primary
                                        p(style="color:green") {{ConfirmMessage}}
                                        input(type='button', id="fakeSave" , ng-click='' style="display:none;")



        hr
        footer
            p © Company 2014
// /container
