doctype html
html(lang='en')

head
    title Personal Assessment / Thank You
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
body
    .aq-ww-banner
        h1
            span.offscreen Weight Watchers
        a#logout.aq-logout(href='/logout') Logout
        .aq-wrap.confirm
            header.aq-intro
                h2.wwdisplay-bold Thank you!
                p.sub-header
                    | We're so excited to get you started in our new coaching program!
                    br
                    | To get you off to the best start, here's what to do before your first call:
            .rsrcs
                ol
                    li
                        p
                            a(href='') Schedule your first session.
                            | Click the button below to choose your coach and get started!
                    li
                        p
                            a(href='') Check out our starter meal ideas.
                            | We think the best way to learn the Plan is through food, so we've included a recipe booklet with some seriously delicious meals to get you started. And the
                            b
                                i PointsPlus
                            | values? They're already figured out. All you have to do is track 'em!
                    li
                        p
                            a(href='') Read your PointsPlus plan guide.
                            | This will explain how to keep track of what you eat and answer any questions you might have.
                    li
                        p
                            | Have an iPhone or Android?
                            a(href='') Download the Weight Watchers Mobile app.
                            | It's a fun way to follow Weight Watchers in an easy-to-understand app.
                    li
                        p
                            a(href='') Watch our Mobile apps webcast.
                            | Like cool tools and funny women? Guest host Ana Gasteyer shows you how to use her top can't-live-without gadgets.
            button.aq-btn Find my coach

