extends layoutVis

block content
    .jumbotron
        .container
            h2 Welcome to the Coaches' Dashboard
            p 
                | Here you can find all the information related to the users assigned tou you for the coaching pilot. First, please login.
        