doctype html
html(lang="en")
    head
        title Coach #{coach.FirstName}'s Dashboard
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/custom.css')
    body
        .navbar.navbar-inverse.aq-ww-banner.navbar-fixed-top(role='navigation' style='border:none;')
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', style='border:none;' data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    img(src='/img/ww_logo_white_sm.png' style='padding-top:15px;')
                .navbar-collapse.collapse(style='border:none;')
                    ul.nav.navbar-nav.navbar-brand
                        li
                            a(href='#') Link
                        li
                            a(href='#') Link
                        li
                            a(href='#') Link
                    a.navbar-brand.navbar-right(id='logout' href='/logout' style="color:#E6E0E0;") Logout
                // /.navbar-collapse
    
        block content
        
        
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/wwcoaching.js')
       