doctype html
html(lang="en" ng-app="adminModule")
    head
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='stylesheet', href='/css/dashboard.css')
        link(rel='stylesheet', href='/css/jquery.datetimepicker.css')
    body
        .navbar.navbar-inverse.aq-ww-banner.navbar-fixed-top(role='navigation' style='border:none;')
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', style='border:none;' data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    img(src='/img/ww_logo_white_sm.png' style='padding-top:15px; padding-left:0')
                .navbar-collapse.collapse(style='border:none;')
                    ul.nav.navbar-nav.navbar-brand
                        li
                            a(href='/' style='padding-top:5px;') Home
                    a.navbar-brand.navbar-right(id='logout' href='/logout' style="color:#E6E0E0;") Logout
                // /.navbar-collapse
        block content
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/angular-route.min.js')
        script(src='/js/jquery.datetimepicker.js')
        script(src='/js/app.js')
        script(src='/js/adminService.js')
        script(src='/js/adminController_.js')
        script(src='/js/custom.js')
