extends layoutParticipant
block content
    .container( style="padding-top:50px;padding-left:200px;")
        p(style='padding-bottom:10px;')
        .row

                #scheduler.tab-pane.col-sm-9.col-md-10.main
                    .ng-scope(ng-controller='ParticipantSchController' ng-init="initSchPage('#{user.CoachId}','#{user._id}')"  style='width:800px;')
                        .container
                            .row.well.col-md-6
                                .col-lg-12
                                    form.ng-pristine
                                        fieldset
                                            // Form Name
                                            legend
                                            // Text input
                                            .form-group
                                                .col-md-5
                                                    p We’ve got great coaches to choose from. Just pick a time that works best for you!
                                                .col-md-5
                                                    br

                                                    //input#datepicker.form-control.input-md(type='text', name='datetime' style="margin-bottom:15px;")
                                                    div(style="display:block;text-align:center;")
                                                    button.aq-btn#schButton(style="font-size:15px;min-width:70px;") Schedule a session

                                                    div
                                                        input#datepicker(type='text', name='datetime' style="background-color:transparent;max-width: 180px;position: relative;top: -60px;z-index: -1;" )

                                                //    b OR
                                                //.col-md-3
                                                //    b Search by coach name
                                                //    //select(ng-options="name as coach.FirstName + ' ' +coach.LastName for coach in coaches | orderBy:['FirstName','LastName']" ng-model="coach" ng-change="getCoachesById(coach._id)")
                                                //    select#coachselect.form-control.input-md(ng-model='newuser' name="coach" style="margin-bottom:15px;")
                                                //        option(ng-repeat="coach in coaches | orderBy:['FirstName','LastName']"  value="{{coach._id}}") {{coach.FirstName}} {{coach.LastName}}

                                        //b(style="color:green;") {{confirmMessage}}
                                        p
                                          //  b {{confirmCoach}}
                                        p
                                            //b {{confirmDate}}
                                        fieldset(style="padding:10px;")
                                                p(style="color:green") {{SearchMessage}}
                                                p(id="SaveApptMsg" style="display:none;font-size:15px;color:green;padding-left:40px;") You’re all set! We’re really looking forward to talking with you
                                                    b <br><br>
                                                    b FYI:&nbsp;
                                                    | If you need a quick answer to a small question right now, <a href='http://www.weightwatchers.com/templates/Marketing/Marketing_SubG_Utool_1col.aspx?pageid=1437650&username=#{user.Username}'>ask Team WW</a>.  Or head over to the <a href='http://www.weightwatchers.com'> site </a>and check out your new tools!
                                                br
                                                br
                                                div
                                                    input.aq-btn(style="font-size:12px;margin-left:40px;margin-top:20px;padding:3px 6px 3px 6px;height:20px;min-width:30px;display:none; " type='button',  id="continue"  value='Continue', onclick='window.location.reload()')


                                            legend
                                                table.searchResults(ng-if="availDates.length>0")
                                                    thead.t-head
                                                        tr
                                                            th Coach
                                                            th Date
                                                            th Time
                                                            th

                                                    tbody

                                                        tr(ng-repeat="availDate in availDates | orderBy:['DateUTC']")

                                                            td
                                                                b {{availDate.Coach.coachName}}
                                                                //i coach details here
                                                            td {{availDate.DateUTC|date:'MMM-dd'}}
                                                            td {{availDate.DateUTC|date:'h:mm a'}}
                                                            td
                                                                input.aq-btn(style="font-size:15px;padding:3px 6px 3px 6px;height:25px;min-width:40px;" type='button',  id="btnSelect"  value='Select', ng-click='saveConf(availDate.Coach,availDate.DateUTC)').btn.btn-primary




                                            input(type="hidden" value="#{user._id}" id="userID" )

                                        input(type='button', id="fakeSave" , ng-click='' style="display:none;")

