extends layoutVis

block content
    .container(style="padding-top:50px;padding-left:200px;" ng-app="participantModule")
                h3(style='padding-left:0px;') Thanks for registering.
                p Now please login using your WeightWatchers credentials.....
                    i need copy from Alisha ....

                legend
                p(style='padding-bottom:10px;')

                .row(ng-controller="ParticipantLoginController" ng-init="initApp()")
                    .col-lg-4.well
                        h2(style="text-align:center;") Participant Login
                        legend
                        form.form-horizontal.ng-pristine
                            fieldset
                                // Text input
                                .form-group(style="margin-top:5px;")
                                    label.col-md-4.control-label(for='username') Username
                                    .col-md-4
                                        input#textinput.form-control(style="width:160px;" type='text', name='username' placeholder='ww username' ng-model="username")
                                .form-group(style="margin-top:15px;")
                                    label.col-md-4.control-label(for='password') Password
                                    .col-md-4
                                        input#textinput.form-control.input-md(style="width:160px;" type='password', name='password' placeholder='ww password' ng-model="password")
                                        br
                                .form-group(style="margin-left:15px;")
                                        input(type='button', id="fakeSave" , ng-click='' style="display:none;")
                                        input(type="hidden" value="#{firstname}" id="firstname" ng-model="firstname")
                                        input(type="hidden" value="#{lastname}" id="lastname" ng-model="lastname")

                                .form-group(style="margin-top:15px;")
                                    .col-md-4
                                        button#singlebutton.btn.btn-primary( ng-click='getWWDetails()',style="margin-left:110px;") Login
                                span(style="color:red;" ng-model="errMessage") {{errMessage}}
