doctype html
html(lang='en')

head
    title Personal Assessment / Thank You
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
body
    .aq-ww-banner
        h1
            span.offscreen Weight Watchers
    .aq-wrap
        header.aq-intro
            h2.wwdisplay-bold Thank you!
            p.sub-header
                | We're so excited to get you started in our new coaching program!
                br
                | You'll be hearing from your Weight Watchers coach very soon.
            p.ww-thanks-sig.wwdisplay-bold The Weight Watchers team
