extends layoutUser

block content

    .container(ng-controller='userDetailsController' data-ng-init='initApp()' style="padding-top:30px;padding-left:150px;")
        p(style='padding-bottom:5px;')
        .row(ng-controller='coachDashBoardController' )
                a(id="aMyUsers" href='/coach' )
                    b Back To Dashboard
                legend
        .row
            span
                b Session with: {{FirstName}} {{LastName}}
        .row

            .tab-pane.col-sm-9.col-md-10.main
                .ng-scope
                    .container
                        .row.well.col-md-11
                            .col-lg-6.well
                                form.ng-pristine.ng-valid

                                    legend
                                        span Action Plan Data Capture

                                    div
                                        label Email Opening
                                    div
                                        textarea.ng-pristine.ng-valid(rows='3' cols='60' type='text', name='emailopening' , ng-model='newnote.emailOpening')
                                    div
                                        br
                                        label Action Plan:
                                    ol
                                        li(ng-repeat="item in ActionPlan.planItems" ng-init="itemIndex = $index")
                                            textarea.ng-pristine.ng-valid(rows='2' cols='60' type='text' ng-model="item.planItem")
                                    button(type="button" ng-click="addItem()") Add Row

                                    div
                                        br
                                        label Email Closing
                                        div
                                            textarea.ng-pristine.ng-valid(rows='3' cols='60' type='text', name='emailclosing' , ng-model='newnote.emailClosing')
                                    div
                                        br
                                        label Additional Notes
                                        i - these are for your reference and will not be sent to the user
                                        div
                                            textarea.ng-pristine.ng-valid(rows='3' cols='60' maxlength="250" type='text', name='addlnotes' , ng-model='newnote.addlNotes')


                                    input(type='hidden' ng-model='newnote.id')
                                    input#userid(type='hidden' ng-model='newnote._id' value='{{_id}}')
                                    br


                            .col-lg-3.well
                                span
                                    b Name:
                                    | &nbsp;{{FirstName}} {{LastName}}
                                br
                                span
                                    b Age:
                                    | &nbsp;{{Age}}
                                br
                                span
                                    b Gender:
                                    | &nbsp;{{Gender}}
                                br
                                span
                                    b Height:
                                    | &nbsp;{{Height}}
                                br
                                span
                                    b Weight:
                                    | &nbsp;{{Weight}}
                                br
                                span
                                    b Safe Weight Range:
                                    | &nbsp;{{MinSafeWeight}} - {{MaxSafeWeight}}
                                br

                            .col-lg-3.well
                                span
                                    a(href="/getuser/{{_id}}/assmResults" )
                                        b View Assessment Results
                                br

                                span
                                    p(style='color:red')
                                        b {{textMsg}}
                            .col-lg-6.well
                                legend
                                    b Preview Action Plan Email
                                br
                                div
                                    div From :{{Coach.FirstName}} {{Coach.LastName}}
                                    div Subject: Your Action Plan
                                    br
                                    div#emailHtml
                                        p(style="white-space: pre; word-wrap:break-word") {{newnote.emailOpening}}
                                        ol
                                            li(ng-repeat="item in ActionPlan.planItems" style="list-style:number;" )
                                                div(style="white-space: pre; word-wrap:break-word") {{item.planItem}}
                                        br
                                        p(style="white-space: pre; word-wrap:break-word") {{newnote.emailClosing}}
                                        br
                                        div
                                            span
                                            b Remember:&nbsp;
                                            | If you hit a tricky spot or need a motivational boost, that’s a great reason to
                                            b <a href='http://coachingpilot.weightwatchers.com/participant/{{User.Username}}' > reach out to a coach.</a>
                                            | &nbsp; If you’re going ten rounds with a dessert menu and don’t know what to do,
                                            b <a href='http://www.weightwatchers.com/templates/Marketing/Marketing_SubG_Utool_1col.aspx?pageid=1437650&username={{User.Username}}'>Team WW </a>
                                            | is there to help.
                                        br
                                        div Warmly,
                                            br
                                            span {{Coach.FirstName}}

                                        br
                                    input(type='button', value='Send', ng-click='savenote()').btn.btn-primary

                            .col-lg-12.well
                                form.ng-pristine.ng-valid
                                    b Previous Sessions

                                    table.table.table-striped.table-bordered
                                        thead
                                            tr
                                                th Date/Time
                                                th Notes
                                                th Action Plan
                                        tbody
                                            tr.ng-scope(ng-repeat='callNote in notes')
                                                td.ng-binding {{ callNote.date }}
                                                td.ng-binding {{ callNote.addlNotes }}
                                                td.ng-binding
                                                    ul
                                                        li(ng-repeat="item in callNote.ActionPlan.planItems") {{item.planItem}}

