extends layout

block content
    
    .container(ng-controller='UserDetailsController' data-ng-init='initApp()' style="padding-top:50px;padding-left:200px;")
        .sub-head NAME: {{FirstName}} {{LastName}}

        legend
        p(style='padding-bottom:10px;')
        .row
            ul.nav.nav-pills(style='font-size:20px;margin-left:10px;')
                li.active
                    a(href="#wwprofile" data-toggle="tab") WW Profile
                li(style='margin-left:80px;')
                    a(href="#assessment" data-toggle="tab") Assessment
                li(style='margin-left:80px;')
                    a(href="#tracker" data-toggle="tab") Tracker
                li(style='margin-left:80px;')
                    a(href="#calls" data-toggle="tab") Calls
                li(style='margin-left:80px;')
                    a(href="#eamils" data-toggle="tab") Email Communications
            legend
            // Tab panes
            .tab-content
                    #wwprofile.tab-pane.active
                        .container
                            table
                                thead.t-head
                                    tr
                                        th AGE
                                        th GENDER
                                        th HEIGHT/WEIGHT
                                        th MIN SAFE WEIGHT
                                        th MAX SAFE WEIGHT
                                tbody
                                    tr.ng-scope
                                        td {{Age}}
                                        td {{Gender}}
                                        td {{Height}}
                                        td {{MinSafeWeight}}
                                        td {{MaxSafeWeight}}

                    #assessment.tab-pane.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                        h2.page-header {{FirstName}} {{LastName}}'s Assessment Results
                    #tracker.tab-pane.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                        h1.page-header Tracker Info Here
                    #calls.tab-pane
                        .ng-scope(ng-controller='NotesController' data-ng-init='initCtrlr()')
                             form.well.ng-pristine.ng-valid
                                div
                                    label Date/Time
                                div(ng-model='newnote.date')
                                    input#pickdatetime.ng-pristine.ng-valid(type='text', name='date')
                                div
                                    label Duration
                                div
                                    input.ng-pristine.ng-valid(type='text', name='duration', ng-model='newnote.duration')
                                div
                                    label Note
                                div
                                    textarea.ng-pristine.ng-valid(rows='4' cols='50' name='note', ng-model='newnote.note')
                                br
                                input(type='hidden' ng-model='newnote.id')
                                input#userid(type='hidden' ng-model='newnote._id' value='{{_id}}')
                                input(type='button', value='Save', ng-click='savenote()').btn.btn-primary
                              table.table.table-striped.table-bordered
                                thead
                                  tr
                                    th Date/Time
                                    th Duration
                                    th Note
                                    th Action
                                tbody
                                  tr.ng-scope(ng-repeat='callNote in notes')
                                    td.ng-binding {{ callNote.date }}
                                    td.ng-binding {{ callNote.duration }}
                                    td.ng-binding {{ callNote.note }}
                                    td
                                      a(href='#', ng-click='edit(callNote.callid)') edit
                                      | |
                                      a(href='#', ng-click='delete(callNote.callid)') delete

                    #eamils.tab-pane.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                        h1.page-header Emails communication Here
