extends layout

block content
    
    .container(ng-controller='userDetailsController' data-ng-init='initApp()' style="padding-top:50px;padding-left:200px;")
        .sub-head NAME: {{FirstName}} {{LastName}}

        legend
        p(style='padding-bottom:10px;')
        .row
            ul.nav.nav-pills(style='font-size:20px;margin-left:10px;')
                li.active
                    a(href="#wwprofile" data-toggle="tab") WW Profile
                li(style='margin-left:80px;')
                    a(href="#assessment" data-toggle="tab") Assessment
                li(style='margin-left:80px;')
                    a(href="#tracker" data-toggle="tab") Tracker
                li(style='margin-left:80px;')
                    a(href="#calls" data-toggle="tab") Calls
                li(style='margin-left:80px;')
                    a(href="#eamils" data-toggle="tab") Email Communications
            legend
            // Tab panes
            .tab-content
                    #wwprofile.tab-pane.active
                        .container
                            table
                                thead.t-head
                                    tr
                                        th AGE
                                        th GENDER
                                        th HEIGHT/WEIGHT
                                        th MIN SAFE WEIGHT
                                        th MAX SAFE WEIGHT
                                tbody
                                    tr.ng-scope
                                        td {{Age}}
                                        td {{Gender}}
                                        td {{Height}}
                                        td {{MinSafeWeight}}
                                        td {{MaxSafeWeight}}

                    #assessment.tab-pane.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                        h3.page-header  Assessment Results for {{FirstName}} {{LastName}}
                            p {{Assessment}}
                            .aq-wrap
                                .sec.active
                                    h3.sec-title Your Food & Activity
                                    #q01.qstn-wrap
                                        span.qstn
                                            span 1.
                                            | How many days a week do you eat...
                                        fieldset#q01a01
                                                span.qstn-sub Breakfast {{Assessment.meals_num1[1]}}

                                        fieldset#q01a02
                                                span.qstn-sub Lunch {{Assessment.meals_num2[1]}}

                                        fieldset#q01a03
                                                span.qstn-sub Dinner {{Assessment.meals_num3[1]}}

                                    #q02.qstn-wrap
                                        span.qstn
                                            span 2.
                                            | Do you eat around the same time every day?
                                        br
                                        label
                                            span(ng-if="Assessment.eating_patterns==1") Yep. My meals are like clockwork.
                                        label
                                            span(ng-if="Assessment.eating_patterns==2") Are you kidding? I grab a bite whenever I can.
                                    .qstn-divider
                                    #q03.qstn-wrap.others
                                        span.qstn
                                            span 3.
                                            | How many times per week do you go out to eat? (Don’t forget fast food.)
                                        fieldset#q03a01
                                                span.qstn-sub Breakfast {{Assessment.meals_out1[1]}}
                                        fieldset#q03a02
                                                span.qstn-sub Lunch {{Assessment.meals_out2[1]}}
                                        fieldset#q03a03
                                                span.qstn-sub Dinner {{Assessment.meals_out3[1]}}
                                        fieldset#q03a04
                                                span.qstn-sub Snacks {{Assessment.meals_out4[1]}}
                                    #q04.qstn-wrap.others
                                        span.qstn
                                            span 4.
                                            | Who does the cooking at your house?
                                            br
                                            label.qstn-sub#q04a01
                                                span(ng-if="Assessment.who_cooks==1") I do
                                            label.qstn-sub#q04a02
                                                span(ng-if="Assessment.who_cooks==2") Someone else does
                                            label.qstn-sub#q04a03
                                                span(ng-if="Assessment.who_cooks==3") I split it with someone else
                                            label.qstn-sub#q04a04
                                                span(ng-if="Assessment.who_cooks==4") The restaurant / grocery store does!
                                    .qstn-divider
                                    #q05.qstn-wrap
                                        span.qstn
                                            span 5.
                                                b Each day
                                                | , how often do you eat:
                                            br
                                            label#q05a01
                                                .q-txt-wrap
                                                    span Fresh fruit {{Assessment.food_type[0]}}
                                            label#q05a02
                                                .q-txt-wrap
                                                    span Vegetables {{Assessment.food_type[1]}}
                                            label#q05a03
                                                .q-txt-wrap
                                                    span Fried Foods {{Assessment.food_type[2]}}
                                            label#q05a04
                                                .q-txt-wrap
                                                    span Chips, crackers {{Assessment.food_type[3]}}
                                            label#q05a05
                                                .q-txt-wrap
                                                    span Cookies, candy, ice-cream {{Assessment.food_type[4]}}
                                            label#q05a06
                                                .q-txt-wrap
                                                    span Sweet drinks {{Assessment.food_type[5]}}
                                            label#q05a07
                                                .q-txt-wrap
                                                    span 0-calorie drinks (including water) {{Assessment.food_type[6]}}
                                    .qstn-divider
                                    #q06.qstn-wrap
                                        fieldset
                                            span.qstn
                                                span 6.
                                                | How do you normally spend your day?
                                            br
                                            label#q06a01
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.daily_act==1") Sitting down
                                            label#q06a02
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.daily_act==2") Sitting, but I also work out
                                            label#q06a03
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.daily_act==3") A mix of sitting and standing
                                            label#q06a04
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.daily_act==4") Mainly standing and walking
                                            label#q06a05
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.daily_act==5") I'm very active
                                    .qstn-divider
                                    #q07.qstn-wrap
                                        fieldset
                                            span.qstn
                                                span 7.
                                                | How much activity do you do
                                                b &nbsp; each week
                                                | ?
                                            br
                                            label#q07a02
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.physical_act==1") 30 mins. or less
                                            label#q07a02
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.physical_act==2") Around 60 mins.
                                            label#q07a01
                                                .q-txt-wrap
                                                    span(ng-if="Assessment.physical_act==3") 100 mins. or more
                                    .qstn-divider
                                    #q08.qstn-wrap
                                        fieldset
                                            legend
                                                span.qstn
                                                    span 8.
                                                    | Do you use an activity monitor or fitness app?
                                            label#q08a01
                                                span(ng-if="Assessment.act_track=='yes'") I do!
                                            label#q08a02
                                                span(ng-if="Assessment.act_track=='no'") Nope!
                                        fieldset.devices.checks(ng-if="Assessment.act_track=='yes'")
                                            legend
                                                span.qstn-sub
                                                    span
                                                    | What device or apps do you use? (Select all that apply)
                                            label#q08a01-01
                                                input(type='checkbox', name='act_devices')
                                                .aq-check
                                                span FitBit
                                            label#q08a01-02
                                                input(type='checkbox', name='act_devices')
                                                .aq-check
                                                span Jawbone Up
                                            label#q08a01-03
                                                input(type='checkbox', name='act_devices')
                                                .aq-check
                                                span Nike+ FuelBand
                                            label#q08a01-04
                                                input(type='checkbox', name='act_devices')
                                                .aq-check
                                                span ActiveLink
                                            label#q08a01-05
                                                input.other(type='checkbox', name='act_devices')
                                                .aq-check
                                                span Other
                                            input.other-input(type='text', name='act_devices', placeholder='What"s the name of your device?')
                                    .qstn-divider
                                    h3.sec-title Your Weight History
                                    #q09.qstn-wrap
                                        label
                                            span.qstn
                                                span 9.
                                                | What's your current weight?
                                            .input-tag.unit.lbs
                                                input(type='text', name='current-weight')
                                                span lbs.
                                    .qstn-divider
                                    #q10.qstn-wrap
                                        label
                                            span.qstn
                                                span 10.
                                                | What's the lowest weight you've been as an adult?
                                            .input-tag.unit.lbs
                                                input(type='text', name='lowest_weight')
                                                span lbs.
                                    .qstn-divider
                                    #q11.qstn-wrap
                                        label
                                            span.qstn.dbl-digit
                                                span 11.
                                                | How many times have you lost 10 lbs. or more?
                                            .input-tag.unit.times
                                                input(type='text', name='diet_loss')
                                                span times
                                    .qstn-divider
                                    #q12.qstn-wrap.others
                                        fieldset.radios
                                            legend
                                                span.qstn.dbl-digit
                                                    span 12.
                                                    | What weight-loss approach has worked
                                                    b best
                                                    | for you?
                                            label#q12a01
                                                input(type='radio', name='loss_approach', value='1')
                                                .aq-radio
                                                span Keeping track of food / activity
                                            label#q12a02
                                                input(type='radio', name='loss_approach', value='2')
                                                .aq-radio
                                                span Pre-packaged meals
                                            label#q12a03
                                                input(type='radio', name='loss_approach', value='3')
                                                .aq-radio
                                                span Online weight-loss group
                                            label#q12a04
                                                input(type='radio', name='loss_approach', value='4')
                                                .aq-radio
                                                span Group that meets in person
                                            label#q12a05
                                                input(type='radio', name='loss_approach', value='5')
                                                .aq-radio
                                                span Working with a nutritionist
                                            label#q12a06
                                                input(type='radio', name='loss_approach', value='6')
                                                .aq-radio
                                                span Online tools / apps
                                            label#q12a07
                                                input(type='radio', name='loss_approach', value='7')
                                                .aq-radio
                                                span Surgery / medically supervised fast
                                            label#q12a08
                                                input(type='radio', name='loss_approach', value='8')
                                                .aq-radio
                                                span Changing my eating / exercise habits
                                            label#q12a09
                                                input.other(type='radio', name='loss_approach', value='9')
                                                .aq-radio
                                                span Other
                                            input.other-input(type='text', name='loss_approach', placeholder='Please describe...')
                                    .qstn-divider
                                    #q13.qstn-wrap.ans-boxes.true-false.inline-btns
                                        span.qstn.dbl-digit
                                            span 13.
                                            | Please answer true or false:
                                        fieldset#q13a01
                                            legend
                                                span.qstn-sub If I don’t lose weight every week, I’ll give up quickly.
                                            label
                                                input(type='radio', name='statement1', value='true')
                                                .ans-box
                                                    span True
                                            label
                                                input(type='radio', name='statement1', value='false')
                                                .ans-box
                                                    span False
                                        fieldset#q13a02
                                            legend
                                                span.qstn-sub If I slip, I focus on that and forget my successes.
                                            label
                                                input(type='radio', name='statement2', value='true')
                                                .ans-box
                                                    span True
                                            label
                                                input(type='radio', name='statement2', value='false')
                                                .ans-box
                                                    span False
                                        fieldset#q13a03
                                            legend
                                                span.qstn-sub If I eat healthy and don’t see results, I’ll stop bothering.
                                            label
                                                input(type='radio', name='statement3', value='true')
                                                .ans-box
                                                    span True
                                            label
                                                input(type='radio', name='statement3', value='false')
                                                .ans-box
                                                    span False
                                        fieldset#q13a04
                                            legend
                                                span.qstn-sub If I go off track, I think I’ve blown it. And then I REALLY go off track.
                                            label
                                                input(type='radio', name='statement4', value='true')
                                                .ans-box
                                                    span True
                                            label
                                                input(type='radio', name='statement4', value='false')
                                                .ans-box
                                                    span False
                                    .qstn-divider
                                    h3.sec-title Your Goals
                                    #q14.qstn-wrap.inline-btns
                                        fieldset.radios
                                            legend
                                                span.qstn.dbl-digit
                                                    span 14.
                                                    | How much weight would you like to lose?
                                            label#q14a01
                                                input(type='radio', name='wt_to_lose', value='1')
                                                .aq-radio
                                                span 5-15 lbs.
                                            label#q14a02
                                                input(type='radio', name='wt_to_lose', value='2')
                                                .aq-radio
                                                span 16-25 lbs.
                                            label#q14a03
                                                input(type='radio', name='wt_to_lose', value='3')
                                                .aq-radio
                                                span 26-50 lbs.
                                            label#q14a04
                                                input(type='radio', name='wt_to_lose', value='4')
                                                .aq-radio
                                                span 50+ lbs.
                                    .qstn-divider
                                    #q15.qstn-wrap
                                        label
                                            span.qstn.dbl-digit
                                                span 15.
                                                | Why do you want to lose weight
                                                i right now
                                                | ?
                                            textarea(name='coach_benefit', placeholder='write here...')
                                    .qstn-divider
                                    #q16.qstn-wrap
                                        label
                                            span.qstn.dbl-digit
                                                span 16.
                                                | What's the biggest thing you want to work on with your coach?
                                            textarea(name='loss_benefit', placeholder='write here...')
                                    .qstn-divider
                                    h3.sec-title Your Lifestyle
                                    #q17.qstn-wrap.img-boxes.radios.others
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 17.
                                                    | Where do you spend your day?
                                            label#q17a01
                                                input(type='radio', name='spend_your_day', value='1')
                                                .aq-radio
                                                img.img-box(src='/img/work@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span At work
                                            label#q17a02
                                                input(type='radio', name='spend_your_day', value='2')
                                                .aq-radio
                                                img.img-box(src='/img/school@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span At school
                                            label#q17a03
                                                input(type='radio', name='spend_your_day', value='3')
                                                .aq-radio
                                                img.img-box(src='/img/home_kids@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span
                                                        | At home
                                                        br
                                                        | with kids
                                            label#q17a04
                                                input(type='radio', name='spend_your_day', value='4')
                                                .aq-radio
                                                img.img-box(src='/img/home_alone@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span
                                                        | At home
                                                        br
                                                        | on my own
                                            label#q17a05
                                                input(type='radio', name='spend_your_day', value='5')
                                                .aq-radio
                                                img.img-box(src='/img/retired@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span Retired
                                            label#q17a06
                                                input.other(type='radio', name='spend_your_day', value='6')
                                                .aq-radio
                                                img.img-box(src='/img/other@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span Other
                                            input.other-input(type='text', name='spend_your_day', placeholder='Please describe...')
                                    .qstn-divider
                                    #q18.qstn-wrap.radios
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 18.
                                                    | Which best describes your household?
                                            label#q18a01
                                                input(type='radio', name='household', value='1')
                                                .aq-radio
                                                span Just me
                                            label#q18a02
                                                input(type='radio', name='household', value='2')
                                                .aq-radio
                                                span Couple
                                            label#q18a03
                                                input(type='radio', name='household', value='3')
                                                .aq-radio
                                                span Roommates
                                            label#q18a04
                                                input(type='radio', name='household', value='4')
                                                .aq-radio
                                                span Family with children
                                            label#q18a05
                                                input(type='radio', name='household', value='5')
                                                .aq-radio
                                                span Live with parent(s)
                                    .qstn-divider
                                    #q19.qstn-wrap.radios
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 19.
                                                    | When it comes to weight loss, how much support do you have?
                                            label#q19a01
                                                input(type='radio', name='support', value='1')
                                                .aq-radio
                                                span A lot
                                            label#q19a02
                                                input(type='radio', name='support', value='2')
                                                .aq-radio
                                                span A little
                                            label#q19a03
                                                input(type='radio', name='support', value='3')
                                                .aq-radio
                                                span Almost none
                                    .qstn-divider
                                    #q20.qstn-wrap.radios
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 20.
                                                    | How stressful is your life?
                                            label#q20a01
                                                input(type='radio', name='stress', value='1')
                                                .aq-radio
                                                span Easy breezy!
                                            label#q20a02
                                                input(type='radio', name='stress', value='2')
                                                .aq-radio
                                                span Kinda stressful
                                            label#q20a03
                                                input(type='radio', name='stress', value='3')
                                                .aq-radio
                                                span I'm freaking out.
                                    .qstn-divider
                                    h3.sec-title Eating Habits
                                    #q21.qstn-wrap.img-boxes.checks
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 21.
                                                    | Which time of day is it hardest for you to stay on track?
                                            label#q21a01
                                                input(type='radio', name='stay_on_track', value='1')
                                                .aq-radio
                                                img.img-box(src='/img/morning@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span Morning
                                            label#q21a02
                                                input(type='radio', name='stay_on_track', value='2')
                                                .aq-radio
                                                img.img-box(src='/img/afternoon@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span Afternoon
                                            label#q21a03
                                                input(type='radio', name='stay_on_track', value='3')
                                                .aq-radio
                                                img.img-box(src='/img/evening@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span Evening
                                            label#q21a04
                                                input(type='radio', name='stay_on_track', value='4')
                                                .aq-radio
                                                img.img-box(src='/img/late_night@2x.jpg', alt='')
                                                .q-txt-wrap
                                                    span Late at night
                                    .qstn-divider
                                    #q22.qstn-wrap.img-boxes.top-five
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 22.
                                                    | What are the five foods you can’t live without?
                                            label#q22a01
                                                span.offscreen 1
                                                img.img-box(src='/img/1fav.jpg', alt='')
                                                input(type='text', name='five_foods1')
                                            label#q22a02
                                                span.offscreen 2
                                                img.img-box(src='/img/2fav.jpg', alt='')
                                                input(type='text', name='five_foods2')
                                            label#q22a03
                                                span.offscreen 3
                                                img.img-box(src='/img/3fav.jpg', alt='')
                                                input(type='text', name='five_foods3')
                                            label#q22a04
                                                span.offscreen 4
                                                img.img-box(src='/img/4fav.jpg', alt='')
                                                input(type='text', name='five_foods4')
                                            label#q22a05
                                                span.offscreen 5
                                                img.img-box(src='/img/5fav.jpg', alt='')
                                                input(type='text', name='five_foods5')
                                    .qstn-divider
                                    #q23.qstn-wrap.checks.others
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 23.
                                                    | Any food allergies or dietary preferences? (Select all that apply)
                                            label#q23a01
                                                input(type='checkbox', name='allergies')
                                                .aq-check
                                                span Vegetarian
                                            label#q23a02
                                                input(type='checkbox', name='allergies')
                                                .aq-check
                                                span Vegan
                                            label#q23a03
                                                input(type='checkbox', name='allergies')
                                                .aq-check
                                                span Kosher
                                            label#q23a04
                                                input(type='checkbox', name='allergies')
                                                .aq-check
                                                span Diabetic
                                            label#q23a05
                                                input(type='checkbox', name='allergies')
                                                .aq-check
                                                span Gluten-free
                                            label#q23a06
                                                input(type='checkbox', name='allergies')
                                                .aq-check
                                                span Low sodium
                                            label#q23a07
                                                input#chkAllergies.other(type='checkbox', name='allergies')
                                                .aq-check
                                                span Food allergies
                                            input.other-input(type='text', name='allergies', placeholder='Please describe...')
                                            label#q23a08
                                                input.other(type='checkbox', name='allergies')
                                                .aq-check
                                                span Other
                                            input.other-input(type='text', name='allergies', placeholder='Please describe...')
                                            label#q23a09
                                                input.chk-none(type='checkbox', name='allergies')
                                                .aq-check
                                                span None
                                    .qstn-divider
                                    #q24.qstn-wrap.checks.others
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 24.
                                                    | What makes it hard to lose weight? (Pick three.)
                                            label#q24a01
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Eating too much at meals
                                            label#q24a02
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Snacking
                                            label#q24a03
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Weekends!
                                            label#q24a04
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Unhealthy food in my house
                                            label#q24a05
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Comforting myself with food
                                            label#q24a06
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Guilt. (I overeat, feel guilty, overeat some more...)
                                            label#q24a07
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span I never feel full
                                            label#q24a08
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span I reward myself with food
                                            label#q24a09
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Eating at work
                                            label#q24a10
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Eating with family & friends
                                            label#q24a11
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Eating out
                                            label#q24a12
                                                input(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span Food just tastes so good!
                                            label#q24a13
                                                input.other(type='checkbox', name='hard_to_lose', data-limit='3')
                                                .aq-check
                                                span.other Other
                                            input.other-input(type='text', name='hard_to_lose', placeholder='Please describe...')
                                    .qstn-divider
                                    #q25.qstn-wrap.radios.others
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 25.
                                                    | Having a mantra can really help you stick with it. Pick one below, or write your own!
                                            label#q25a01
                                                input(type='radio', name='mantra', value='1')
                                                .aq-radio
                                                span Losing weight is hard. Being overweight is hard. Choose your hard.
                                            label#q25a02
                                                input(type='radio', name='mantra', value='2')
                                                .aq-radio
                                                span If you kinda do it, it kinda works. If you really do it, it really works.
                                            label#q25a03
                                                input(type='radio', name='mantra', value='3')
                                                .aq-radio
                                                span The scale is a weight loss tool - not a judge, jury and executioner.
                                            label#q25a04
                                                input(type='radio', name='mantra', value='4')
                                                .aq-radio
                                                span Don't give up what you want the most for what you want in the moment.
                                            label#q25a05
                                                input(type='radio', name='mantra', value='5')
                                                .aq-radio
                                                span If we want a change, we have to make a change.
                                            label#q25a06
                                                input(type='radio', name='mantra', value='6')
                                                .aq-radio
                                                span Whether you believe you can, or cannot, you're right.
                                            label#q25a07
                                                input(type='radio', name='mantra', value='7')
                                                .aq-radio
                                                span I've come too far to take orders from a cookie.
                                            label#q25a08
                                                input(type='radio', name='mantra', value='8')
                                                .aq-radio
                                                span I've got this.
                                            label#q25a09
                                                input(type='radio', name='mantra', value='9')
                                                .aq-radio
                                                span It's choice, not chance, that will determine my destiny.
                                            label#q25a10
                                                input.other(name='mantra', type='radio', value='10')
                                                .aq-radio
                                                span Add your own mantra!
                                            textarea.other-input(name='mantra', placeholder='My mantra is...')
                                    .qstn-divider
                                    #q26.qstn-wrap.tel
                                        fieldset
                                            legend
                                                span.qstn.dbl-digit
                                                    span 26.
                                                    | Please enter your phone number(s):
                                            label#q26a01
                                                .qstn-sub What number do you want your coach to call for check-ins:
                                                input(type='text', name='tel-number', pattern='[0-9]*', placeholder='555 555 5555')
                                            label#q26a02
                                                .qstn-sub
                                                    | We'll text you a reminder about your sessions. What's the best number to reach you?
                                                input(type='text', name='tel-number', pattern='[0-9]*', placeholder='555 555 5555')
                                            label#q26a03
                                                input(type='checkbox', name='tel-number')
                                                .aq-check
                                                span.qstn-sub.no-txts No text messages, please.
                                    .qstn-divider
                                    #qstn_assess.qstn-wrap.coach-msg
                                        label
                                            p
                                                | Is there anything else you’d like your coach to know about you? If so, tell us below. If not, just hit “I’m done!“
                                            .note-paper
                                                .dear.wwdisplay-bold Dear Coach,
                                                .note-divider
                                                textarea(name='coach_msg', placeholder='write your message here...')
                                                .user-name
                                                    span.user-firstname
                                                    span.user-lastname


                    #tracker.tab-pane.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                        h1.page-header Tracker Info Here
                    #calls.tab-pane
                        .ng-scope
                             form.well.ng-pristine.ng-valid
                                div
                                    label Date/Time
                                div(ng-model='newnote.date')
                                    input#pickdatetime.ng-pristine.ng-valid(type='text', name='date')
                                div
                                    label Duration
                                div
                                    input.ng-pristine.ng-valid(type='text', name='duration', ng-model='newnote.duration')
                                div
                                    label Note
                                div
                                    textarea.ng-pristine.ng-valid(rows='4' cols='50' name='note', ng-model='newnote.note')
                                br
                                input(type='hidden' ng-model='newnote.id')
                                input#userid(type='hidden' ng-model='newnote._id' value='{{_id}}')
                                input(type='button', value='Save', ng-click='savenote()').btn.btn-primary
                              table.table.table-striped.table-bordered
                                thead
                                  tr
                                    th Date/Time
                                    th Duration
                                    th Note
                                    th Action
                                tbody
                                  tr.ng-scope(ng-repeat='callNote in notes')
                                    td.ng-binding {{ callNote.date }}
                                    td.ng-binding {{ callNote.duration }}
                                    td.ng-binding {{ callNote.note }}
                                    td
                                      a(href='#', ng-click='edit(callNote.callid)') edit
                                      | |
                                      a(href='#', ng-click='deleteNote(callNote.callid)') delete

                    #eamils.tab-pane.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                        h1.page-header Emails communication Here
