extends layout

block content
    .jumbotron
        .container(ng-controller='UserDetailsController')
        
            h2 {{FirstName}} {{LastName}}
                h3 Contact Information
                    p Email: {{Email}}
                    p Phone: {{Phone}}
            
                
            
                