doctype
html
    head
        title
    body
        #wrapper
            table
                tr
                    td=FirstName
                    td=LastName
                    td=Phone
                    td=Email