/* Custom Propriotary Typeface */
@font-face {
  font-family:'wwdisplay_bold';
  src: url('../fonts/wwdisplay-bold.eot');
  src: url('../fonts/wwdisplay-bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/wwdisplay-bold.woff') format('woff'),
       url('../fonts/wwdisplay-bold.ttf') format('truetype'),
       url('../fonts/wwdisplay-bold.svg#wwdisplay_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.aq-ww-banner {
  background-color: #404596;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#403292), to(#46bea5));
  background-image: -webkit-linear-gradient(left, #403292, #46bea5); 
  background-image: -moz-linear-gradient(left, #403292, #46bea5);
  background-image: -ms-linear-gradient(left, #403292, #46bea5);
  background-image: -o-linear-gradient(left, #403292, #46bea5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#403292',endColorstr='#46bea5',GradientType=1); /* IE6-9 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 60px;
  padding: 11px 0 11px 6%;
  width: 100%;
  z-index: 101;
}

.tblHeader 
{
    font-weight:bold;
    font-family:Arial;
    color: #fff;
    background-color:rgb(46, 185, 185);
    padding-left:15px;
    border:1px;
    
}
.tblUsers
{
    border:1px;
    width:700px
    
}
.tblUsers.tr:nth-child(odd){background:#dae5f4;}

.navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}


