/* Custom Propriotary Typeface */
@font-face {
  font-family:'wwdisplay_bold';
  src: url('../fonts/wwdisplay-bold.eot');
  src: url('../fonts/wwdisplay-bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/wwdisplay-bold.woff') format('woff'),
       url('../fonts/wwdisplay-bold.ttf') format('truetype'),
       url('../fonts/wwdisplay-bold.svg#wwdisplay_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.aq-ww-banner {
  background-color: #404596;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#403292), to(#46bea5));
  background-image: -webkit-linear-gradient(left, #403292, #46bea5); 
  background-image: -moz-linear-gradient(left, #403292, #46bea5);
  background-image: -ms-linear-gradient(left, #403292, #46bea5);
  background-image: -o-linear-gradient(left, #403292, #46bea5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#403292',endColorstr='#46bea5',GradientType=1); /* IE6-9 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 60px;
  padding: 11px 0 11px 6%;
  width: 100%;
  z-index: 101;
}

.tblHeader 
{
    font-weight:bold;
    font-family:Arial;
    color: #fff;
    background-color:rgb(46, 185, 185);
    padding-left:15px;
    border:1px;
    
}
.tblUsers
{
    border:1px;
    width:700px
    
}
.tblUsers.tr:nth-child(odd){background:#dae5f4;}

.navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color:#3B2E7E;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav>li>a{
    color:dimgrey;
}
#users td{
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}
#wwprofile td{
    padding-left:60px;
    padding-right:60px;
    padding-top:10px;
    padding-bottom:10px;
}
tbody>tr:nth-child(odd){
    background: rgba(141, 130, 170, 0.16);
}

.t-head {
     font-size: 13px;
     line-height: 1.4em;
     color: #555;
     font-weight: 300;
     padding-bottom: 50px;
     text-align:center;
 }
.sub-head {
    font-size: 18px;
    line-height: 1.4em;
    color: #555;
    font-weight: 300;
    margin-bottom: 50px;
}
th{
    text-align: center;
    padding-bottom: 10px;
}
#searchResults td{
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}
.wwdisplay-bold {
    font-family: wwdisplay_boldregular;
}
#calCellAvail{
    background-color: #006dcc;

    }
#availSchedules{

}
.modal {
    display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }

label {
    display: inline;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 0px solid #cacece;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
    box-shadow: 0 0px 0px rgba(0,0,0,0.05), inset 0px 1px 0px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}

.regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 1px;
    position: absolute;
    background-color: greenyellow;
    border: thin;
    width: 90px;
    height: 20px;
    top: 0px;
    color: #99a1a7;
}


.big-checkbox + label {
    padding: 0px;
}

.big-checkbox:checked + label:after {
    font-size: 10px;
    left: 0px;
}

.tag {
    font-family: Arial, sans-serif;
    width: 20px;
    position: relative;

    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}