/**** Custom Propriotary Typeface ****/

@font-face {
    font-family:'WWDisplay_Bold';
    src: url('../fonts/WWDisplay-Bold.eot');
    src: url('../fonts/WWDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/WWDisplay-Bold.woff') format('woff'),
    url('../fonts/WWDisplay-Bold.ttf') format('truetype'),
    url('../fonts/WWDisplay-Bold.svg#WWDisplay_Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* WW Font Class */
.wwdisplay-bold { font-family: 'WWDisplay_Bold'; }


/**** Global ****/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ie8 {
    max-width: 825px;
    min-width: 825px;
}

body {
    background: #f9f9f9;
    color: #333;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

/* form elements */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

label {
    display: block;
    position: relative;
}

.ie8 legend { max-width: 825px; }


/* textareas & text inputs */

textarea,
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 0;
    color: #666;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0.625em;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

textarea { height: 100px; }
input[type=text] { height: 45px; }

textarea:focus,
input[type=text]:focus {
    border-color: #46bea5;
    color: #000;
    outline: none;
}

/* radios & checkboxes */

.radios label,
.checks label {
    background: #fff;
    display: table;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    height: 50px;
    padding: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
    z-index: 1;
}

.radios label:focus,
.radios label:active,
.radios label:hover,
.checks label:focus,
.checks label:active,
.checks label:hover {
    /*background: #E2F6F2;*/
    border-color: #46bea5;
}

.radios label.checked,
.checks label.checked {
    border-color: #46bea5;
}

.radios label span,
.checks label span {
    color: #888;
    display: table-cell;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    padding-left: 37px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
    width: 100%;
}

.radios label:focus span,
.radios label:active span,
.radios label:hover span,
.checks label:focus span,
.checks label:active span,
.checks label:hover span {
    color: #222;
}

.radios label.checked span,
.checks label.checked span {
    color: #222;
}

input[type=radio],
input[type=checkbox] {
    left: -9999px;
    position: absolute;
}

.aq-check {
    background: #E7E7E7;
    border-radius: 5px;
    height: 30px;
    margin-top: -0.9em;
    position: absolute;
    top: 50%;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    width: 30px;
}

.aq-check:before {
    background: url('../img/checkmarks.svg') no-repeat 0 0;
    clip: rect(0 0.9em 2em 0)
}

.aq-check:after {
    background: url('../img/checkmarks.svg') no-repeat -1.8em 0;
    clip: rect(0 0 2em 0);
}

.aq-check:before,
.aq-check:after {
    content: '';
    height: 40px;
    left: 50%;
    margin-left: -0.375em;
    margin-top: -0.36em;
    opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transition: clip .3s ease;
    -moz-transition: clip .3s ease;
    -ms-transition: clip .3s ease;
    -o-transition: clip .3s ease;
    transition: clip .3s ease;
    width: 40px;
}

.checked .aq-check:after { clip: rect(0 0.9em 2em 0); }

input[type=checkbox][disabled] + .aq-check { background: #e7e7e7; }
input[type=checkbox][disabled] + .aq-check:after {
    clip: rect(0 0 2em 0);
}

.ie8 .aq-check:before,
.ie8 .aq-check:after {
    background: url('../img/checkmarks_sm.png') no-repeat;
    margin-left: -0.45em;
}

.ie8 .aq-check:before { background-position: 0 0; }
.ie8 .aq-check:after { background-position: -2.05em 0; }

.ie9 .aq-check:before,
.ie9 .aq-check:after {
    margin-top: -1.24em;
}

.aq-radio {
    background: #e7e7e7;
    border-radius: 50px;
    height: 28px;
    margin-top: -0.9em;
    position: absolute;
    top: 50%;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    width: 28px;
}

.aq-radio:before {
    background: #f9f9f9;
    border-radius: 50px;
    content: '';
    height: 18px;
    left: 50%;
    margin-left: -9px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 18px;
}

.aq-radio:after {
    background: transparent;
    border-radius: 50px;
    content: '';
    height: 10px;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 10px;
}

.checked .aq-radio,
.checked .aq-check {
    background: #46bea5;
}

.checked .aq-radio:before,
input[type=radio]:focus + .aq-radio:before {
    background: #fff;
}

.checked .aq-radio:after,
input[type=radio]:focus + .aq-radio:after {
    background: #46bea5;
}

/* Image Box Checkmarks */

.img-boxes .aq-radio {
    background: transparent;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: 0;
    position: absolute;
    top: 15px;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    width: 100px;
}

.img-boxes .aq-radio:before { display: none; }

.img-boxes .aq-radio:after {
    background: url('../img/checkmarks.svg') no-repeat -5.2em 0 transparent;
    border-radius: 0;
    clip: rect(0 0 2.6em 0);
    content: '';
    height: 120px;
    left: 50%;
    margin-left: -18px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    -webkit-transition: clip .3s ease;
    -moz-transition: clip .3s ease;
    -ms-transition: clip .3s ease;
    -o-transition: clip .3s ease;
    transition: clip .3s ease;
    width: 120px;
}

.ie8 .img-boxes .aq-radio:after {
    background: url('../img/checkmarks.png') no-repeat -5.2em 0 transparent;
    margin-left: -21px;
}
.ie9 .img-boxes .aq-radio:after { margin-top: -60px; }

.img-boxes .checked .aq-radio { background: rgba(70, 190, 165, 0.9); }
.ie8 .img-boxes .checked .aq-radio { background: #46bea5; }

.img-boxes .checked .aq-radio:after,
.img-boxes input[type=radio]:focus + .aq-radio:after {
    background: url('../img/checkmarks.svg') no-repeat -5.2em 0 transparent;
    clip: rect(0 2.6em 5em 0);
}

.ie8 .img-boxes .checked .aq-radio:after,
.ie8 .img-boxes input[type=radio]:focus + .aq-radio:after {
    background: url('../img/checkmarks.png') no-repeat -5.2em 0 transparent;
}


/*** Illustrations ***/

.ills label span { height: 45px; }


/*** General ***/

.offscreen {
    border: 0px;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
    z-index: -1000;
}

.ww-break { display: block; }

.m-btm-2pct { margin-bottom: 2%; }


/* Text input with tag or label afterward (ex: .lbs) */

.input-tag {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.input-tag.unit { max-width: 200px; }

.input-tag span {
    color: #888;
    font-size: 0.9em;
    font-weight: 400;
    position: absolute;
}

.input-tag.unit input {
    padding-top: 0.7em;
    max-width: inherit;
}

.input-tag.lbs input { padding-right: 37px; }

.input-tag.times input { padding-right: 50px; }


.input-tag.unit span {
    margin-top: -8px;
    right: 8px;
    top: 50%;
}

.input-tag.num input { padding-left: 30px; }

.input-tag.num span {
    left: 10px;
    margin-top: -7px;
    top: 50%;
}

/* phone numbers */

.tel label { margin-bottom: 25px; }

.tel .qstn-sub { display: block; }

.tel .qstn-sub.no-txts { margin-left: 40px; }


/* Name Confirmation Message */

.btwn-msg {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 630px;
    text-align: center;
    width: 100%;
}

.btwn-msg h2 {
    color: #403292;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 15px;
}

.btwn-msg p {
    color: #555;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 20px;
    margin-top: 0;
}


/**** Errors ****/

.error input[type=text] { border: 1px solid red; }

.aq-wrap .error-txt {
    color: #ff0000;
    display: none;
    font-size: 0.9em;
    line-height: 1.3em;
    margin-bottom: 10px;
    margin-top: 0;
    top: -10px;
    position: relative;
}

.error .error-txt { display: block; }


/**** Buttons ****/

.aq-btn {
    background: #46bea5;
    border-radius: 4px;
    color: #fff;
    border: 0;
    cursor: pointer;
    display: block;
    height: 45px;
    font-size: 1.4em;
    font-weight: 300;
    margin:  auto;
    min-width: 180px;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -ms-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    width: 100%;
}

.aq-btn:focus,
.aq-btn:active,
.aq-btn:hover {
    background: #3CB199;
    text-decoration: none;
}

.aq-btn[disabled] {
    background: #ddd;
    color: #999;
}

/* Logout button */

.aq-logout {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin-top: -10px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 50%;
}

.aq-logout:focus,
.aq-logout:active,
.aq-logout:hover {
    text-decoration: underline;
}


/**** WW Top Banner ****/

.aq-ww-banner {
    background-color: #403292;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#403292), to(#46bea5));
    background-image: -webkit-linear-gradient(left, #403292, #46bea5);
    background-image: -moz-linear-gradient(left, #403292, #46bea5);
    background-image: -ms-linear-gradient(left, #403292, #46bea5);
    background-image: -o-linear-gradient(left, #403292, #46bea5);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#403292',endColorstr='#46bea5',GradientType=1);
    left: 0;
    max-height: 60px;
    padding: 15px 0 15px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
}

.aq-ww-banner h1 {
    background: url('../img/ww_logo.svg') no-repeat;
    height: 20px;
    width: 160px;
}

.ie8 .aq-ww-banner h1 {
    background: url('../img/ww_logo.png') no-repeat;
    height: 29px;
    width: 230px;
}

.aq-ww-banner.totop { position: absolute; }


/**** Main content wrapper ****/

.aq-wrap {
    margin: 0 auto;
    max-width: 960px;
    padding: 85px 10px 20px 10px;
}


/**** Intro ****/

.aq-intro { margin-bottom: 20px; }

.confirm .aq-intro {
    margin-bottom: 0;
    text-align: center;
}

.aq-intro h2 {
    color: #403292;
    font-size: 1.5em;
    margin-bottom: 0.4em;
}

.aq-intro p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 10px;
    margin-top: 0;
}


/**** Questions ****/

.qstn-wrap { margin-bottom: 1.250em; }

.qstn {
    color: #555;
    display: inline-block;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 0.938em;
}

.qstn.dbl-digit span { margin-right: 0; }

.qstn-sub {
    color: #666;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 0.625em;
}

.qstn-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5em;
    width: 100%;
}


/**** Sections ****/

.sec {
    display: none;
    position: relative;
}

.sec.active { display: block; }

/* Question group header */
.sec-title {
    color: #403292;
    font-size: 1.7em;
    font-weight: 400;
    margin-bottom: 0.8em;
    margin-top: 0;
}


/**** Individual Section Styles ****/

/* Name */

/*.qstn-wrap.name { margin-bottom: 40px !important; }*/

.name label { margin-bottom: 0.938em; }

/*.name legend span { font-size: 0.9em; }*/


/* Selects */

.select label {
    background: #fff;
    border: 1px solid #ddd;
    display: table;
    margin-bottom: 0.6em;
    min-height: 50px;
    padding: 0 1em;
    width: 100%;
}

.select label:after {
    content: '';
    border-left: 1px solid #ddd;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 25%;
}

.select .qstn-sub {
    color: #666;
    display: table-cell;
    font-weight: 300;
    margin-bottom: 0;
    vertical-align: middle;
    width: 100%;
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/caret.svg') no-repeat right 20px;
    border: 0;
    border-radius: 0;
    color: #666;
    float: right;
    font-weight: 300;
    height: 50px;
    margin-left: 15px;
    margin-bottom: -2px;
    text-overflow: '';
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 2.2em;
}

.select select:focus,
.select select:hover {
    outline: none;
}

.ie8 .select { display: none; }

.ie9 .select select {
    background: #ECEBEB;
    padding-bottom: 0;
    padding-top: 0;
}

/* Likert Scale */

fieldset.likert {
    display: none;
    margin-bottom: 1em;
    max-width: 768px;
}

.likert legend {
    float: none;
    margin-bottom: 0.6em;
}

.likert label {
    display: inline-block;
    margin-right: 1%;
    position: relative;
    width: 10.8%;
}

.likert label:last-child { margin-right: 0; }

.likert label:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.likert .qstn-sub { margin-bottom: 0; }

.likert .ans-box {
    bottom: 0;
    display: block;
    left: 0;
    margin-bottom: inherit;
    height: inherit;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.likert .ans-box div {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.ie8 fieldset.likert {
    display: block;
    margin-bottom: 0;
}

.ie8 .likert legend {
    float: left;
    margin-top: 3.2%;
    width: 16%;
}

.ie8 .likert label {
    margin-bottom: 1%;
    width: 9%;
}

/**** Answer boxes ****/

.ans-box {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    display: table;
    margin-bottom: 0.7em;
    height: 50px;
    padding: 0.5em 1em;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
}

.ans-box:focus,
.ans-box:active,
.ans-box:hover {
    background: #E2F6F2;
    border-color: #46bea5;
    color: #000;
}

.checked .ans-box,
.checked .ans-box:focus,
.checked .ans-box:active,
.checked .ans-box:hover {
    background: #46bea5;
    border-color: #46bea5;
}

.ans-box span {
    color: #888;
    display: table-cell;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
}

.ans-box:focus span,
.ans-box:active span,
.ans-box:hover span {
    color: #222;
}

.checked .ans-box span,
.checked .ans-box:focus span,
.checked .ans-box:active span,
.checked .ans-box:hover span {
    color: #fff;
}

.inline-btns label {
    float: left;
    margin-right: 10px;
    width: 48%;
}

.inline-btns label:nth-child(odd) { margin-right: 0; }


/**** Image boxes ****/

.img-boxes { text-align: center; }

.img-boxes legend { text-align: left; }

.img-boxes label {
    background: #fff;
    border: 1px solid #ddd;
    color: #a2a2a2;
    display: inline-block;
    height: auto;
    margin-bottom: 10px;
    margin-right: 5px;
    max-width: 185px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: top;
    width: 48%;
}

.img-boxes label:nth-child(odd) { margin-right: 0; }

.img-boxes label:focus,
.img-boxes label:active,
.img-boxes label:hover,
.img-boxes label.checked {
    border-color: #46bea5;
}

.img-box {
    display: block;
    height: auto;
    margin: 0 auto 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
}

.img-boxes label input[type=text] {
    bottom: 13px;
    font-size: 1em;
    font-weight: 400;
    height: 35px;
    text-align: center;
    width: 40%;
}

.img-boxes label span {
    color: #888;
    display: table-cell;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.3em;
    padding: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    vertical-align: middle;
}

.img-boxes label:focus span,
.img-boxes label:active span,
.img-boxes label:hover span {
    color: #222;
}

.img-boxes label.checked span,
.img-boxes label.checked span,
.img-boxes label.checked span {
    color: #222;
}

.img-boxes label .q-txt-wrap {
    display: inline-table;
    height: 55px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.img-boxes.foods label .q-input-wrap { margin-bottom: 10px; }

.img-boxes.radios label,
.img-boxes.checks label {
    min-height: 200px;
}

.img-boxes.top-five label img { margin-bottom: 0; }

.img-boxes.top-five label input {
    margin: 0 auto 13px;
    position: static;
    width: 82%;
}


/**** "Other" Inputs ****/

input.other-input,
textarea.other-input {
    display: none;
    margin-bottom: 10px;
    max-width: 100%;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.devices {
    display: none;
    margin-top: 2%;
}

.true-false fieldset { margin-bottom: 10px; }


/**** Message to coach ****/

.aq-wrap .coach-msg legend p {
    font-size: 1.1em;
    margin-bottom: 0;
    padding-bottom: 20px;
}

/* Note Paper */

.note-paper {
    background: #fff;
    border: 1px solid #ddd;
    height: auto;
    min-height: 400px;
    overflow: hidden;
    padding: 2em 2em 1em;
    position: relative;
    width: 100%;
}

.note-paper .dear {
    color: #403292;
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 5px;
}

.user-name {
    color: #46bea5;
    font-size: 1.4em;
    position: absolute;
    right: 35px;
    bottom: 25px;
}

.user-name:before {
    content: 'from,';
    display: block;
    font-size: 0.6em;
}

.note-divider {
    border-bottom: 4px double #46bea5;
    margin-bottom: 1em;
    width: 100%;
}

.note-paper textarea {
    background: transparent;
    border: 0;
    color: #555;
    font-size: 1em;
    font-weight: 400;
    max-width: 100%;
    min-height: 235px;
    padding: 0;
    position: relative;
    resize: none;
    width: 100%;
}

.note-paper textarea:focus { border: 0; }


/* Thank You */

.confirm .sub-header { margin-bottom: 15px; }

.rsrcs {
    background: #f4f4f4;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
}

.rsrcs h3 {
    color: #403292;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

.aq-wrap .rsrcs p {
    color: #555;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 10px;
    margin-top: 0;
}

.aq-wrap .rsrcs p:last-child {
    margin-bottom: 0;
}

.rsrcs ol {
    counter-reset:li;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.rsrcs li {
    margin-bottom: 10px;
    margin-left: 35px;
    position: relative;
}

.rsrcs li:last-child {
    margin-bottom: 0;
}

.rsrcs li a {
    color: inherit;
    font-weight: 600;
}

.rsrcs li a:focus,
.rsrcs li a:active,
.rsrcs li a:hover {
    text-decoration: none;
}

.rsrcs ol li:before {
    font-family: 'WWDisplay_Bold';
    content: counter(li);
    counter-increment: li;
    position: absolute;
    font-size: 0.95em;
    left: -35px;
    line-height: 1.15em;
    background: #403292;
    border-radius: 50px;
    height: 25px;
    padding: 5px;
    width: 25px;
    text-align: center;
    color: #fff;
    top: 2px;
}

.rsrcs ol li:after {
    border-bottom: 1px solid #999;
    content: '';
    display: block;
    height: 1px;
    margin-bottom: 10px;
    margin-left: -35px;
    margin-top: 10px;
}

.rsrcs ol li:last-child:after {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
}


/**** Media Queries ****/

/* 341px */
@media (min-width: 21.313em) {

    .tel .qstn-tag { margin-left: 55px; }

    .tel input { width: 245px; }

}

/* 425px */
@media (min-width: 26.563em) {

    .devices label,
    #q18 label,
    #q19 label,
    #q20 label,
    #q23 label {
        float: left;
        margin-right: 9px;
        width: 49%;
    }

    .devices label:nth-child(odd),
    #q18 label:nth-child(odd),
    #q19 label:nth-child(odd),
    #q20 label:nth-child(odd),
    #q23 label:nth-child(odd),
    label#q23a08 { margin-right: 0; }

    .img-boxes label:nth-child(n),
    .img-boxes.radios label:nth-child(n),
    .img-boxes.checks label:nth-child(n) { margin-right: 5px; }

}

/* 514px */
@media (min-width: 32.125em) {

    .aq-intro h2 { font-size: 2em; }

    .name label {
        float: left;
        margin-right: 9px;
        width: 49%;
    }

    .name label:last-child { margin-right: 0; }

    .btwn-msg h2 { font-size: 2.8em }

    .aq-wrap .btwn-msg p {
        font-size: 1.6em;
        margin-bottom: 30px;
    }

    .select { display: none; }

    fieldset.likert { display: block; }

    .likert .ans-box {
        float: none;
        width: 100%;
    }

    textarea,
    input[type=text] {
        font-size: 1.2em;
    }

    .img-boxes label input[type=text] {
        font-size: 1.2em;
        font-weight: 400;
        height: 45px;
    }

    .note-paper textarea { font-size: 1.2em; }

    .ans-boxes label {
        float: left;
        margin-right: 9px;
        max-width: 280px;
        width: 49%;
    }

    .ans-boxes label:nth-child(odd) { margin-right: 0; }
    .ans-box { height: 60px; }

    .three-boxes label { width: 32%; }
    .three-boxes label:nth-child(odd) { margin-right: 9px; }
    .three-boxes label:last-child { margin-right: 0; }

    .note-paper:before { border-width: 0 60px 60px 0; }
    .note-paper:after { border-width: 60px 0 0 60px; }

    .rsrcs {
        margin-bottom: 15px;
        padding: 25px;
    }

    .rsrcs li { margin-left: 43px; }

    .rsrcs ol li:before {
        font-size: 1.25em;
        height: 30px;
        left: -43px;
        line-height: 1.1em;
        width: 30px;
    }

    .rsrcs ol li:after {
        margin-bottom: 20px;
        margin-left: -43px;
        margin-top: 20px;
    }

}


/* 660px */
@media (min-width: 41.250em) {

    .aq-ww-banner h1 { margin-left: 50px; }

    .aq-wrap {
        padding-left: 50px;
        padding-right: 50px;
    }

    .name legend span { font-size: 1.1em; }

    .aq-intro h2 {
        font-size: 2.9em;
        margin-bottom: 10px;
    }

    .confirm .aq-intro h2 { font-size: 2.4em; }

    .aq-wrap p {
        font-size: 1.4em;
        margin-bottom: 50px;
    }

    #q14 label {
        float: left;
        margin-right: 9px;
        width: 32%;
    }

    #q14 label:nth-child(4n) { margin-right: 0; }

    .confirm .sub-header {
        margin-bottom: 45px;
        max-width: 800px;
    }

    .rsrcs h3 {
        font-size: 1.3em;
        margin-bottom: 35px;
    }

    .aq-wrap .rsrcs p {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 15px;
    }

    .rsrcs li { margin-left: 70px; }

    .rsrcs ol li:before {
        font-size: 1.9em;
        height: 45px;
        left: -70px;
        line-height: 1.25em;
        width: 45px;
    }

    .rsrcs ol li:after {
        margin-left: -70px;
    }

    .rsrcs li a {
        border-bottom: 2px solid #555;
        text-decoration: none;
        -webkit-transition: border .15s ease;
        -moz-transition: border .15s ease;
        -ms-transition: border .15s ease;
        -o-transition: border .15s ease;
        transition: border .15s ease;
    }

    .rsrcs li a:focus,
    .rsrcs li a:active,
    .rsrcs li a:hover {
        border-bottom: 1px solid transparent;
    }


}


/* 702px */
@media (min-width: 43.875em) {

    fieldset.likert { margin-bottom: 0; }

    .likert legend {
        float: left;
        margin-top: 3.2%;
        width: 16%;
    }

    .likert label {
        margin-bottom: 1%;
        width: 9%;
    }

}

/* 730px */
@media (min-width: 45.625em) {

    #q12 label {
        float: left;
        margin-right: 9px;
        width: 49%;
    }

    #q12 label:nth-child(odd) { margin-right: 0; }

}


/* 890px */
@media (min-width: 55.625em) {

    .aq-ww-banner h1 {
        height: 29px;
        width: 230px;
    }

    .aq-wrap { padding: 140px 50px 50px 75px; }

    .aq-wrap.confirm { padding-top: 200px; }

    .sec-title {
        font-size: 2em;
        margin-bottom: 1em;
        margin-left: -1em;
    }

    .qstn-wrap { margin-bottom: 3em; }

    .qstn {
        font-size: 1.2em;
        text-indent: -1.7em;
        margin-bottom: 1.5em;
    }

    .qstn span { margin-right: 0.6em; }
    .name .qstn { text-indent: inherit; }

    .qstn-divider {
        margin-bottom: 3em;
        margin-left: -2em;
        width: 104%;
    }

    .radios label,
    .checks label {
        background: transparent;
        border: 0;
        height: 35px;
        padding: 0;
    }

    .img-boxes label {
        background: #fff;
        border: 1px solid #ddd;
        max-width: 185px;
        padding: 0;
    }

    .true-false fieldset { margin-bottom: 30px; }

    .true-false legend {
        float: left;
        height: 45px;
        line-height: 1.4em;
        margin-right: 9%;
        width: 49%;
    }

    .true-false label {
        height: 45px;
        width: 150px;
    }

    .true-false .ans-box { height: 50px; }

    .coach-msg {
        margin: 0 auto;
        max-width: 700px;
        padding-bottom: 20px;
    }

    .aq-wrap .coach-msg legend p {
        font-size: 1.3em;
        margin-bottom: 0;
        padding-bottom: 1.3em;
    }

    .aq-btn {
        height: 60px;
        width: auto;
    }

    input[type=text] { height: 50px; }

    textarea,
    input[type=text] {
        max-width: 96%;
    }

    .four-boxes label { width: 23%; }
    .four-boxes label:nth-child(odd) { margin-right: 9px; }
    #q08 .devices label { width: 33%; }

    #q14 label {
        float: left;
        margin-right: 9px;
        width: 20%;
    }

    #q14 label:nth-child(4n) { margin-right: 9px; }
    #q14 label:last-child { margin-right: 0; }

    #q18 label,
    #q19 label,
    #q20 label,
    #q23 label { width: 28%; }

    #q18 label:nth-child(odd),
    #q19 label:nth-child(odd),
    #q20 label:nth-child(odd),
    #q23 label:nth-child(odd) { margin-right: 9px; }
    label#q23a08 { margin-right: 9px; }

    #q24 label {
        float: left;
        margin-right: 9px;
        width: 49%;
    }

    #q24 label:nth-child(odd) { margin-right: 0; }

    .rsrcs {
        margin-bottom: 30px;
        padding: 40px;
    }

    .rsrcs ol li:after {
        margin-bottom: 25px;
        margin-top: 25px;
    }

}
